[2017-05-30 22:06] eaplatanios opened #2 "Map generic types appropriately in session runs"

[2017-05-30 22:06] eaplatanios opened #3 "Generify data types"
TensorFlow data types are each associated with a Scala type (e.g., `FLOAT64` with `Double`). It thus may be better to generify the data type trait using the associated Scala type. `FLOAT64` would then extend `DataType[Double]`. The issue that's preventing this from happening right now is that when we create an op output, we obtain the integer field representing its data type from the C API at runt

[2017-05-30 22:06] eaplatanios opened #4 "Hardcode number and type of op outputs"
It would be nice for the op outputs to be strongly-typed (e.g., an op returns an INT32 output and a FLOAT32 output). Using an HList might be necessary for that. However, the problem lies with ops that have a variable number of inputs/outputs that are only known at runtime. This means it may be impossible to do this.

One example is an op that returns two lists of tensors. In the C API that would b

[2017-06-07 03:50] #2 closed

[2017-06-13 19:54] sbrunk opened #8 "Segfault when using pre-compiled TensorFlow dynamic library"
When I try to use the pre-compiled libtensorflow 1.2.0-rc0, I'm getting a segfault. Apparently caused by the call to `getAttrBool`.

It works fine when I compile libtensorflow.so myself (tried cpu version with default settings from the submodule commit eb11d6b, although newer versions seem to work as well).

Any idea what might be causing this?

System: Ubuntu 17.04 (64 Bit, OpenJDK 8)

JVM error

[2017-06-22 18:50] eaplatanios commented on #8
I have also seen this before but never got the chance to investigate. A good first step, in my opinion, would be to try and reproduce the problem with the official TensorFlow Java API. If it occurs then too, we could create an issue in the main repository.

I'm sorry for the slow response but I've been traveling with no connection. I'll be active again starting July 8th, when I'm back. :)

[2017-06-29 09:10] sbrunk commented on #4
For reference: Documentation of the C++ Op interface: https://www.tensorflow.org/extend/adding_an_op#building_advanced_features_into_your_op

[2017-06-29 16:44] sbrunk commented on #4
I've done some thinking about typed ```Output``` as well as some tinkering. The result is a draft table of how the types could look like for different cases.

I'm assuming `DataType` as it's currenty implemented, with `ScalaType` as type member and subclassing objects fixing the type. I'm also assuming that each ```Output[T]``` will produce a single ```Tensor[T]``` when evaluated. This is how the

[2017-07-02 08:36] eaplatanios commented on #4
The main issue is not with each output per se, but rather with the representation of the `outputs` field of the `Op` class. For example, in the case of `(Seq[Output[INT32]], Seq[Output[FLOAT32]])` that you present, what would be the return type of the `def output(index: Int)` function?

[2017-07-02 08:41] eaplatanios commented on #4
I guess in this case we can avoid having that function altogether and just have an `outputs` field that returns an HList? The type signature of that HList should parameterized the `Op` class in that case (e.g., `Op[Seq[Output[INT32] :: Seq[Output[FLOAT32]]]`). Does that sound reasonable?

In this case, we should also probably do the same for the inputs of the op and have a second type parameter fo

[2017-07-02 08:44] eaplatanios commented on #4
On second thought though, a problem remains. The C API allows obtaining outputs through their index and even if we want to have two dynamically sized sequences, we still have to find a way to map the index on each sequence to the underlying flattened sequence index. This requires knowing the sequence lengths which can only be done at runtime and potentially causes some more complications I'm not t

[2017-07-03 11:02] sbrunk commented on #4
Do we even have to make `Op` parameterized? I thought it might be easier to keep it as is, and only have a parameterized `Output` i.e. `TypedOutput[T <: DataType]` in addition to the existing one. That way, we could avoid having to abstract over the combined types of an op's outputs.

Then in the op definition methods we cast/map the output(s) returned from the native call as needed, exposing only

[2017-07-07 11:09] MLnick opened #10 "String tensor throws "Malformed TF_STRING tensor; element 0 out of range""
Came across this when trying to use `tf.Saver()`. Simple to reproduce using
[code]

[code]

[2017-07-09 15:46] eaplatanios commented on #10
Thanks for finding this out! I just got back from traveling. I'll look into this today and let you know what I find. :)

[2017-07-10 23:17] eaplatanios commented on #10
@MLnick It turns out there were a couple problems. One related to string tensors and one related to empty savers. If you use savers it would be great if you couple add a few simple unit tests based on your usage if you get the chance. In either case, thanks a lot for reporting this. :)

[2017-07-11 12:41] sbrunk commented on #4
I went ahead and created a branch with a parameterized `Output[+T <: DataType]` to see if it could work. I still need to do some cleanup but I hope I'll be able to create a PR this week as a basis for further discussion.

[2017-07-13 12:01] eaplatanios commented on #4
@sbrunk That sounds good, thanks! I have various issues in my mind that came up when I looked into this so I guess if you have a draft implementation, pointing them out on top of it would make this conversation more concrete. By the way, I'm back from traveling and so I'm becoming more active again. :)

[2017-07-14 04:59] chandu0101 opened #11 "printing add Tensor throwing NPE"
[code]

***StackTrace***

[code]
 not a blocker , just reporting as i found it ...

[2017-07-14 08:19] MLnick opened #12 "Cross-build for Scala 2.11?"
Would there be interest to allow cross-building for Scala 2.11?

The only issues I had to fix to get it to compile for Scala 2.11 were [here](https://github.com/eaplatanios/tensorflow_scala/blob/5c15299394be649852a2d091312b9b1af0786fba/tensorflow/src/main/scala/org/platanios/tensorflow/api/ops/variables/VariableScope.scala#L302) and [here](https://github.com/eaplatanios/tensorflow_scala/blob/5c152

[2017-07-14 08:25] MLnick commented on #12
Also the main `tensorflow` JAR build needs to be adjusted - it always gets packaged as `tensorflow` rather than with the Scala version suffix.

[2017-07-14 09:54] MLnick commented on #10
@eaplatanios another issue seems to have cropped up:

[code]

[2017-07-14 09:55] MLnick commented on #10
I haven't used to saver much and am not that familiar with even the Python / native version of it. I am trying to play around with it to see if I can export graphs from this lib and re-use them in say Python or TF serving, etc. And ran into the issue.

Will see if I can put together some test cases.

[2017-07-16 12:14] johndpope opened #13 "fyi - generate functions from ops.pbtxt"
https://github.com/tensorflow/tensorflow/commit/3f538fadf2dedaeddc295580eaff635c98f1793a

you maybe able to cherry pick this code
https://github.com/tensorflow/tensorflow/tree/3f538fadf2dedaeddc295580eaff635c98f1793a/tensorflow/go/op

[2017-07-16 18:46] eaplatanios commented on #13
I have looked into this in the past. You could do this with macros and I have a sample for that somewhere if you're interested. However, I found out that for most ops, there exists a lot of logic in the python layer of the TensorFlow API, ending up with customized implementations for most of them. Thus, I decided this was not necessary for now. What do you think?

[2017-07-16 20:51] #11 closed

[2017-07-16 22:20] eaplatanios commented on #11
Fixed. Thanks for reporting this! :)

[2017-07-17 16:43] johndpope commented on #13
I think you could request help from people consuming library. This popped up on radar so just took a quick look through list of things that were still outstanding and this jumped out at me.
no problem. going to close this.

[2017-07-17 16:43] #13 closed

[2017-07-17 18:28] #12 closed

[2017-07-17 18:28] eaplatanios commented on #12
Thanks a lot for pointing that out! It's now been fixed. :)

[2017-07-17 18:55] sbrunk commented on #4
I've created a PR with my draft implementation in #14.

It makes `OutputLike` and its implementations polymorphic, parameterized with a subtype of `DataType`. I.e. `OutputLike[+T <: DataType]`.

Based on that, I started to make the op implementations more strongly typed. I.e. accepting only `Output[NumericDataType]` for some ops, making sure types of multiple inputs, or input/output types match.

[2017-07-17 21:45] eaplatanios commented on #8
@sbrunk That may have been fixed now. Let's check again when the new TensorFlow release comes. The code will only work with the current master branch of the repository for now, but once they release we can come back to this and see if it's been fixed.

[2017-07-17 21:57] eaplatanios commented on #4
@sbrunk Sorry I missed this message and responded directly to the pull request.

[2017-07-18 01:11] ztaoo opened #15 "compile failed on win10_x64"
when i run: sbt
i got:
[code]

then i run `compile`,
error got:
[code]

what is  `[error] Error trying to determine platform.` about?

[2017-07-18 13:05] eaplatanios commented on #15
This is because the `sbt-jni` plugin does not currently support Windows. It shouldn't be too hard to add support for Windows (the related issue is [here](https://github.com/jodersky/sbt-jni/issues/20)). If nothing happens for some time, I might tackle it, but I want to prioritize some features first.

[2017-07-18 14:54] sbrunk opened #16 "Add typed Tensor"
As discussed in #14 it makes sense to start with a typed version of `Tensor`, perhaps similar to what's being proposed for the [Java API](https://github.com/tensorflow/tensorflow/pull/11535).

[2017-07-19 06:13] eaplatanios commented on #10
@MLnick This had to do with not managing string tensors very well, but I think it's been fixed in the last two commits.

[2017-07-21 05:46] #8 closed

[2017-07-21 05:47] eaplatanios commented on #8
@sbrunk This was indeed a bug on my side. Thanks a lot for catching it! It has now been fixed. :)

[2017-07-21 05:53] eaplatanios commented on #3
I'll close this for now since I think that it may be better to not generify the data type classes.

[2017-07-21 05:53] #3 closed

[2017-07-21 05:54] eaplatanios commented on #4
I'll close this for now since we decided to look into typed tensors first and we can keep the discussion open in the related project I created.

[2017-07-21 05:54] #4 closed

[2017-07-21 08:18] sbrunk commented on #16
Lets say we have a generic `Tensor` like
[code]

Then, given the current design of `DataType` with `ScalaType` as a type member, we can keep the Scala type generic in `Tensor`:

[code]

A `Tensor[FLOAT32]` has `T#ScalaType` automatically fixed to `Float`. IMHO that's very nice property of the current `DataType` design.

The question is what happens when we require different behavior depending on t

[2017-07-21 08:50] MLnick commented on #12
Thanks!

[2017-07-21 09:22] MLnick commented on #10
Sorry to be the bearer of bad news, but still getting an error. Seems the shape of the relevant string tensors is still not correct (I have 2 variables that are getting saved hence the `[1,2]` shapes, that should I think be 1-D tensors of length 2?)

[code]

[2017-07-21 14:05] eaplatanios commented on #10
@MLnick Thanks a lot for pointing out all these issues. They only serve to point out the usefulness of unit tests. I'll try to add unit tests for ops after I get support for some more ops.

I fixed this issue, but I'll leave it open until you confirm all seems to work fine for you. :) Feel free to close it when you feel the bug is fixed.

[2017-07-24 09:37] MLnick commented on #10
Thanks, that seems to have allowed me to save successfully. Now going to try loading a saved model and predicting with it :)

[2017-07-24 09:37] #10 closed

[2017-07-24 14:35] eaplatanios commented on #10
That's great! The restoring ops are sort of symmetric to the save ops and I changed them too in my last fix, so I hope this will work fine for you. :)

[2017-07-25 09:12] MLnick opened #17 "Any plans to support distributed TF?"
e.g. setting up `ClusterSpec` and related code. I guess there is quite a bit of work involved, but what are the basic steps involved in exposing new functionalities from the various TF C classes?

[2017-07-25 12:19] eaplatanios commented on #17
If I'm not mistaken, that functionality is not exposed through the C API and is implemented on the Python side in the official TensorFlow API. If that's indeed the case, then we'd have to reimplement that functionality in Scala., but I haven't looked into it yet.

On Jul 25, 2017, 5:12 AM -0400, Nick Pentreath <notifications@github.com>, wrote:

[2017-07-27 22:20] eaplatanios commented on #15
@ztaoo Could you please check if you can compile the library now, after my last commit?

[2017-07-31 10:52] sbrunk commented on #16
@eaplatanios I did some experimentation using a generic `Tensor[T <: DataType]` trait and implementation classes like `FLOAT32Tensor extends Tensor[FLOAT32].

Using a `TensorFactory[T< : DataType]` typeclass  it's also possible to make tensor creation methods generic so we can have s.th. like `Tensor.fill[T <: DataType](value: T#ScalaType): Tensor[T]` etc.

So in general I think this approach coul

[2017-08-01 15:01] howarth opened #19 "precompiled installation not working"
Hello,

I can't get this to compile on GPU3

I downloaded the precompiled binaries at https://storage.googleapis.com/tensorflow/libtensorflow/libtensorflow-gpu-linux-x86_64-1.3.0-rc0.tar.gz

I set my LD_LIBRARY_PATH:

[code]

And then attempted to compile:

[code]

[2017-08-01 18:23] eaplatanios commented on #19
This has been fixed on the server.

[2017-08-01 18:23] #19 closed

[2017-08-03 14:07] sbrunk opened #21 "Slicing with a single integer behaves different than in numpy"
I stumbled upon this while working on #20.

In numpy, when [slicing](https://docs.scipy.org/doc/numpy/reference/arrays.indexing.html#basic-slicing-and-indexing) with a single integer, the corresponding axis is removed, reducing the dimensionality of the resulting tensor.

[code]

if you wanted to keep the axis you'd have to to `x[0:1]` instead.

In your tensor slicing keeps the axis (with a value

[2017-08-27 04:40] eaplatanios commented on #21
@sbrunk Sorry for the very late response but I was traveling both for work and for vacations, and I was also working on a major overhaul of the tensors API in my library. I added support for automatically generating JNI bindings for eagerly executing TensorFlow ops from Scala. It's still a work in progress, but to give you an example, your code from above would be transformed to:
[code]
The loggin

[2017-09-09 06:48] eaplatanios commented on #16
@sbrunk I believe that with the new eager execution API for tensors that gives us numpy-like functionality, it becomes harder to keep track of types on the Scala side, given how most tensors will have types known only at runtime (as a result of obtaining them through eagerly executing TensorFlow ops). Do you think it is still worth pursuing typed tensors and outputs? I'm currently focusing more on

[2017-09-11 08:37] sbrunk commented on #21
I was on vacation myself so I didn't have the time to try anything out yet.

Automatically generated numpy like ops sounds great. I'll give it a try soon.

[2017-09-18 07:47] sbrunk commented on #16
You're right it probably doesn't make sense when we know the type only at runtime most of the time. So I'm closing this.

[2017-09-18 07:47] #16 closed

[2017-09-22 16:16] eaplatanios commented on #17
@MLnick I've been working on adding support for distributed training and I'm going to release some code soon that works similar to the TF Estimators API, but is a bit more structured and strongly-typed whenever I saw fit. I have no way of testing the distributed training API, so if you're indeed interested in it I would really appreciate some help with testing.

Also, could you please provide an e

[2017-09-22 16:51] eaplatanios commented on #21
@sbrunk By the way, regarding the learning API that I had mentioned at some point earlier, I have pushed an early draft I'm working on in the `org.platanios.tensorflow.api.learn` package. It follows closely the TensorFlow Estimators API, but cleans it up and adds strong typing at various places. I plan to add some tutorials soon, but I'm delayed it because I'm actively working on it now and some t

[2017-09-22 16:52] eaplatanios commented on #21
Given that this issue has been resolved, I'll close this. Please feel free to re-open if you find any more indexing issues or incompatibilities with numpy-style indexing. :)

[2017-09-22 16:52] #21 closed

[2017-09-22 20:35] MLnick commented on #17
@eaplatanios I'd love to help test things out. I haven't done too much with distributed TF but I'd like to be able to try (a) data-parallel, (b) "data and model" parallel training, both with pure tensorflow_scala and embedded within say Spark.

Do you have a branch or other code to point to here?

[2017-09-27 06:18] eaplatanios commented on #15
Closing due to inactivity.

[2017-09-27 06:18] #15 closed

[2017-10-01 13:50] Mageswaran1989 opened #24 "New Gitter Room"
Hi,
I have just created a Gitter Room for quick chats.

https://gitter.im/tensorflow_scala/

[2017-10-03 07:22] sbrunk opened #26 "tensorflow_framework not found error on compile"
I finally had the time to have a look at your library again and I see you've made a lot of progress in the meantime!

I'm having a problem getting it to work on a new machine running OSX. I have installed libtensorflow 1.3.1 via homebrew. Now I'm getting the following error:

[code]

I'm a bit at a loss about where tensorflow_framework is supposed to come from. Any ideas what I'm missing?

[2017-10-05 22:22] eaplatanios commented on #26
@sbrunk Sorry about that. It's because I'm using the `master` branch of TensorFlow, rather than the 1.3 release. I'll push a big set of changes soon (probably some time tomorrow) that add support for control flow ops (i.e., `cond` and `whileLoop`) and fix lots of the current issues. I'm sorry for the inconvenience and the small delay.

[2017-10-05 22:25] eaplatanios commented on #17
@MLnick I'm really sorry for not responding to this earlier. I'll soon push the final changes such that distributed TF is supported similar to the Python API. I guess the best way to go about this would be to work on the data-parallel example first. Could you provide me with a Python API-based example and see whether it's supported by my API?

[2017-10-05 22:25] eaplatanios commented on #24
That's great! Thanks! :)

[2017-10-05 22:25] #24 closed

[2017-10-09 10:35] MLnick commented on #17
I'd suggest we can start by re-creating the data parallel example in the [TensorFlow docs](https://www.tensorflow.org/deploy/distributed)

[2017-10-09 21:18] eaplatanios commented on #26
@sbrunk Could you please try again with the master branch? You can obtain the `libtensorflow.so` and `libtensorflow_framework.so` libraries by downloading extracting [this jar file](https://oss.sonatype.org/service/local/repositories/snapshots/content/org/platanios/tensorflow_2.12/0.1.0-SNAPSHOT/tensorflow_2.12-0.1.0-SNAPSHOT-darwin-cpu-x86_64.jar).

[2017-10-10 16:35] eaplatanios commented on #17
That sounds like a good idea. I pushed some changes that add support for (I think) everything needed to re-create that tutorial example. You can find `Server` at `org.platanios.tensorflow.core.distributed.Server`, `ClusterConfig` at `org.platanios.tensorflow.config.ClusterConfig`, and `Estimator` at `org.platanios.tensorflow.api.learn.Estimator` (I'll change the namespaces later on - after we conf

[2017-10-13 10:22] sbrunk commented on #26
It finds the libraries but now I get the following error:

[code]

[2017-10-13 15:30] eaplatanios commented on #26
@sbrunk That's because the library required a newer version of JNI than the one you have. I pushed a small change that removes that requirement. Can you please check that it compiles fine now?

[2017-10-14 20:17] sbrunk commented on #26
Working fine now :)
Thanks for your help!

[2017-10-14 20:17] #26 closed

[2017-10-14 20:56] eaplatanios commented on #26
I’m happy to hear that! Please, let me know if you find any other issues. :)

On Oct 14, 2017, 4:17 PM -0400, Sören Brunk <notifications@github.com>, wrote:

[2017-10-18 09:37] lucaRadicalbit opened #29 "Unable to run LinearRegression example on UbuntuMate 17.04. Runtime error"
I am using ubuntuMate 17.04 and I try use your TensorFlow Scala API installing the tensorflow as dynamic library. After recovering the tensorflow repository I try to compile first the last version available (tensorflow master: commit 27767d8e9 ) and than the release 1.0 (tensorflow r1.0: commit 905662a1c) both with  bazel 0.6.1 first and than with bazel 0.5.4 since I read that bazel 0.6.1 compilin

[2017-10-18 16:40] eaplatanios commented on #29
@lucaRadicalbit Can you try building TensorFlow using the `node_def_fix` branch in [this repository](https://github.com/eaplatanios/tensorflow/tree/node_def_fix) and let me know if that works?

[2017-10-19 04:35] sujitbiswas opened #30 "Library not loaded: @rpath/libtensorflow_framework.so Referenced from: libtensorflow.so"
2017-10-18 21:28:51.703 [main] INFO  TensorFlow Native - Copied 99242476 bytes to /var/folders/bj/v1l790113yn16zvhljd6yl8h0000gn/T/tensorflow_scala_native_libraries8362051912739663819/libtensorflow.so.
Exception in thread "main" java.lang.UnsatisfiedLinkError: /private/var/folders/bj/v1l790113yn16zvhljd6yl8h0000gn/T/tensorflow_scala_native_libraries8362051912739663819/libtensorflow.so: dlopen(/pri

[2017-10-19 12:07] lucaRadicalbit commented on #29
I compiled the tensorflow from the branch you told me but it's like nothing change.
I compiled with bazel 0.5.4 and I gave the same configuration option I gave yesterday:
python location: /usr/bin/python
python library path: /ust/local/lib/python2.7/dist-packages
build TensorFlow with jemalloc as malloc support: Y
ALL other question: N

Than I run the bazel build command:
`bazel build --config=opt

[2017-10-19 14:52] eaplatanios commented on #29
@lucaRadicalbit It looks like `libtensorflow_framework.so` is not loaded. Can you try copying your compiled `libtensorflow.so` and `libtensorflow_framework.so` to a path like `/usr/local/lib` and see if it works then? If it does, it means that for some reason the loader cannot find the dynamic libraries in your current setup.

[2017-10-19 14:52] eaplatanios commented on #29
Also, when you say that you manually add the dynamic lib, what do you mean?

[2017-10-19 14:57] #30 closed

[2017-10-19 14:58] eaplatanios commented on #30
@sujitbiswas There was indeed a bug. I think I fixed it with commit 43d0fa6. Can you please try again and confirm that things work as expected?

[2017-10-19 15:16] lucaRadicalbit commented on #29
I mean since I need to add the `bazel-bin/tensorflow` directory that contain `libtensorflow_framework.so` and `libtensorflow.so` to the list of directory used by ldconfig in order to make these two libraries usable as shared object I read that  there are two ways to do this: just add to LD_LIBRARY_PATH or rebuild cache. I chose the latter:
[1] - I add a line inside `/etc/ld.so.conf.d/lib.conf` wit

[2017-10-19 15:30] lucaRadicalbit commented on #29
@eaplatanios
I try to:
1. move `libtensorflow_framework.so` and `libtensorflow.so` to /usr/local/lib
2. run `sudo ldconfig /usr/local/lib`
3. run `ldconfig -p | grep libtensorflow` to check that the libraries were loaded
4. run the LinearRegression example
but nothing changed, I got the same error.

[2017-10-19 15:42] eaplatanios commented on #29
This is interesting. Can you try changing the library dependencies line in your `build.sbt` file to:

`libraryDependencies += "org.platanios" %% "tensorflow" % "0.1.0-SNAPSHOT" classifier "linux-cpu-x86_64"`

and try again? I'm just curious to see if it will work fine with the provided dynamic libraries.

[2017-10-19 15:55] lucaRadicalbit commented on #29
![linearregressionscalatensorflow](https://user-images.githubusercontent.com/32895300/31780660-a4bac7bc-b4f6-11e7-9201-b5a0d1993120.png)

If I use the provided dynamic libraries the error change

[2017-10-19 16:07] eaplatanios commented on #29
Could you please send me the whole error? The line is cut off in the screenshot and I cannot see which shared object file it cannot open.

[2017-10-19 16:26] lucaRadicalbit commented on #30
@sujitbiswas To run on Mac OS did you use the provide dynamic library by inserting `libraryDependencies += "org.platanios" %% "tensorflow" % "0.1.0-SNAPSHOT" classifier "linux-cpu-x86_64"` on the build.sbt or did you compile manually the tensorflow libraries ? Because I'm trying to let it works on Mac OS but I got an error during `bazel build --config=opt //tensorflow:libtensorflow.so` when I manu

[2017-10-19 16:28] eaplatanios commented on #30
@lucaRadicalbit To run on Mac you have to change the `classifier` part to `classifier "darwin-cpu-x86_64"`. What error did you get when trying to manually compile the TensorFlow library?

[2017-10-19 16:40] lucaRadicalbit commented on #30
Yes, sorry, it was a typo, I meant darwin-cpu-x86_64.
I try to build manually because since yesterday using `classifier "darwin-cpu-x86_64"` I got an error. I retry now after reading this issue with the classifier and it works !!

By the way the error that I got when I manually compile is:

[code]

I am on Mac OS Sierra 10.12.6
bazel version 0.5.4

[2017-10-19 16:42] eaplatanios commented on #30
@lucaRadicalbit Do you get this error while using the `node_def_fix` from my fork of TensorFlow?

[2017-10-20 16:00] sujitbiswas commented on #30
@eaplatanios  Thanks for the fix, please note I am able to run the linear regression example, however MNIST run into the following error, please suggest

#
# A fatal error has been detected by the Java Runtime Environment:
#
#  SIGILL (0x4) at pc=0x0000000128a551da, pid=13976, tid=5891
#
# JRE version: Java(TM) SE Runtime Environment (8.0_40-b27) (build 1.8.0_40-b27)
# Java VM: Java HotSpot(TM) 64

[2017-10-20 16:13] lucaRadicalbit commented on #30
@eaplatanios No it was not on the node_def_fix branch. I run now the bazel (version 0.5.4) command on node_def_fix and the computation give me this error:

[code]

The operative system is MaxOS Sierra 10.12.6

[2017-10-23 11:59] lucaRadicalbit opened #31 "problem saving a graph with Saver class"
I'm looking for a way to save a TF model and than restore for training just like the Python API allow me to do. Looking at the way for save the model:
[code]
I need to do something similar in Scala. Reading the Saver class documentation of the Scala API read that I can do:
[code]
But I can not understand how create the `saver` object on which the `saver` method is called. I try to use the construc

[2017-10-23 15:46] eaplatanios commented on #31
@lucaRadicalbit You can use `tf.saver(...)` which takes exactly the same arguments as the constructor of the `Saver` class. :)

[2017-10-23 15:46] eaplatanios commented on #29
@lucaRadicalbit Sorry I got super busy and just got a chance to get back to this. Are you still having that same issue?

[2017-10-23 15:53] eaplatanios commented on #30
@sujitbiswas I cannot reproduce the error you're getting. Which branch did you use to compile the TensorFlow library? Did you use the `node_def_fix` branch from my fork?

@lucaRadicalbit That's a bizarre error. It looks like it's the same problem as the one described [here](https://github.com/tensorflow/tensorflow/issues/13220). Can you try adding the following lines in the beginning of the file `

[2017-10-23 15:55] mandar2812 commented on #29
@eaplatanios When I run on my Mac, this issue does not arise, but when I run on a managed (organisational) Fedora server, I get the exact issue. It tries to extract into /tmp/tensorflow_scala_native_libraries ... just like above.

[2017-10-23 16:07] lucaRadicalbit commented on #31
Maybe I am missing something really easy but I already try tf.saver and I got:
![tf-saver](https://user-images.githubusercontent.com/32895300/31899832-eacf06c2-b81c-11e7-941c-f9700f16f690.png)
The compile error told about a Saveable. I really can not figured out what I'm doing wrong.

[2017-10-23 16:56] eaplatanios commented on #31
@lucaRadicalbit That's because the saver constructor does not take a session argument. This is the signature:

[code]

So, if you want it to save all trainable variables (the default), all you need to do is:

[code]

And you can reuse that `saver` object across different sessions too. :)

[2017-10-23 17:02] eaplatanios commented on #29
@mandar2812 That's interesting. The extraction happens if you do not have the native libraries installed on the machine you're using and you want to pull pre-compiled versions of them using the SBT `classifier "linux..."` flag. It seems that even though it extracts `libtensorflow.so` in the same temporary directory, the dynamic library loader cannot load it when loading `libtensorflow_jni.so` whic

[2017-10-23 18:40] sujitbiswas commented on #30
i just realized that running using maven, cause the problem, note SBT run works fine, the maven details are as below
[code]

[code]

the following works fine
[code]

[2017-10-23 19:32] eaplatanios commented on #30
@sujitbiswas That's interesting. I'm not familiar with Maven and so I don't really know why there is a problem. Do you have any idea why this is happening?

[2017-10-24 01:46] sujitbiswas commented on #30
@eaplatanios not sure what is causing the issue while running with maven, will update if i am able to resolve

[2017-10-24 13:48] lucaRadicalbit commented on #31
@eaplatanios Thank you very much, it works !!

[2017-10-24 14:26] sujitbiswas commented on #31
@eaplatanios related question, how to use saver with Estimator?

[2017-10-24 16:20] eaplatanios commented on #30
@sujitbiswas That's great! Thanks! :)

[2017-10-24 16:20] eaplatanios commented on #31
@lucaRadicalbit That's great to hear! :)

[2017-10-24 16:20] #31 closed

[2017-10-24 16:22] eaplatanios commented on #31
@sujitbiswas If you use the `Estimator`, then you can add a `CheckpointSaverHook` and that will handle saving and restoring state while training for you automatically. :)

On Oct 24, 2017, 10:26 AM -0400, sujitbiswas <notifications@github.com>, wrote:

[2017-10-24 16:31] lucaRadicalbit commented on #30
@eaplatanios Adding the line you suggest in the `/Library/Developer/CommandLineTools/usr/include/c++/v1/__threading_support` file and using the commit `2878bd1e1` (tag node_def_fix) the compile of the tensor flow library works !!

[2017-10-24 17:21] eaplatanios commented on #30
That’s good to hear! This is an issue with the compiler and it affects the native TensorFlow library. I don’t think there’s anything we can do on our side to fix this, but I think this fix should suffice for now.

On Oct 24, 2017, 12:31 PM -0400, Luca Tagliabue <notifications@github.com>, wrote:

[2017-10-25 06:51] sujitbiswas opened #32 "is there a equivalent of tf.image.decode_jpeg"
@eaplatanios  is there a equivalent of tf.image.decode_jpeg or how can we directly use Op.Builder?

[2017-10-26 10:11] lucaRadicalbit opened #33 "Error during tf.Saver.fromMetaGraphDef(metaGraphDef), KindCase"
Here is my error:
![1](https://user-images.githubusercontent.com/32895300/32047543-8b145346-ba46-11e7-91d8-b88409e199d3.png)

I'm trying to reload a previous trained TF Model with the Scala API. I checked that inside my my-model.meta file the variables collections is store inside a byte list.
![2](https://user-images.githubusercontent.com/32895300/32046910-b45ef0d2-ba44-11e7-874b-d7e774098932.png)

[2017-10-26 19:30] #33 closed

[2017-10-26 19:32] eaplatanios commented on #33
@lucaRadicalbit You are right. Good catch! :) This should have been fixed now.

[2017-10-26 21:24] lucaRadicalbit opened #34 "After fix issue #33, error during save model"
After the fix due to the issue #33 ...
[code]
...when I run the code above at the end of the LinearRegression example I get this error:
[code]

I also try on another, not before used for this project, MacSierra to check if was me that I make a mess with the environment and I got a complete different error just at the first line of the main of the LinearRegression example:
[code]

[2017-10-26 21:35] #34 closed

[2017-10-26 21:36] eaplatanios commented on #34
@lucaRadicalbit Sorry that was introduced by some other changes I've been making but should be fixed now.

Regarding your Mac Sierra error, that's something else and I think it relates to one of the issues you posted earlier?

[2017-10-26 22:07] lucaRadicalbit commented on #34
I don't know, also I got this error quite randomly, because now I do not get the error in the code where I save the model, but I get the error when I run the code that restore the model

[code]

metaPath and checkpointPath are defined above in my code as Paths.get("...")

[code]

[2017-10-26 23:34] lucaRadicalbit commented on #34
@eaplatanios I got this error on two machine but boot Mac Sierra 10.12.6. The strange thing is that I ask my colleague that never work on TF or Scala API (so his Mac was completely clean) to run the same code (he has also a Mac Sierra) and he didn't get the error. Maybe is something related to the fact that I am working with the API a lot in the last month and maybe the libtensorflow.so and the AP

[2017-10-27 01:32] eaplatanios commented on #34
@lucaRadicalbit Oh I see. No actually I think I know what's happening. I keep updating the published JAR files in the Sonatype repository. That's where SBT pulls that dependency from. In your case, I think that it has cached an old version and is not pulling the newer ones because the version number is the same. There is a couple of things you can try. One is to change the dependency to `libraryDe

[2017-10-30 13:57] lucaRadicalbit commented on #34
I even try to create a new user on my Mac and reinstall all the tool required to run the project but the Java native code error still remain. Can I ask you try add this line on you LinearRegression.scala:
[code]
and create a new Scala file:
[code]
And try to run both and tell me if you get the Java native code error ?
I try to understand what does mean `Process finished with exit code 134 (interru

[2017-10-30 17:43] jnfeinstein opened #35 "JNI linking"
I'm seeing this error:
[code]

build.sbt contains:
[code]

Running macOS 10.13.  Application crashes immediately.  Those folders don't exist when I go back to check later.

[2017-10-30 23:05] eaplatanios commented on #35
@jnfeinstein Since you're using Mac, you should use this instead in your build.sbt file:

[code]

[2017-10-30 23:07] jnfeinstein commented on #35
Doh, that was it, thanks.  Not sure why they let me touch a computer.

[2017-10-30 23:07] #35 closed

[2017-10-30 23:08] jnfeinstein commented on #35
Adjusted title so anyone in the future might find this and save some time.

[2017-11-02 22:04] lucaRadicalbit commented on #34
@eaplatanios I read this issue you opened some month ago:
https://github.com/tensorflow/tensorflow/issues/9842

Is possible that some option you use to compile the tensor flow dynamic library that you gave us are problematic with my architecture ? In other words, is possible that is an hardware problem and the only way that I can use you Scala API is manually compile the tensor flow library by mys

[2017-11-02 22:31] eaplatanios commented on #34
@lucaRadicalbit Actually there is definitely a problem somewhere as I can also currently not load it correctly on a Linux server I'm currently testing on. I'm trying to resolve it right now so I'll update you on this with what I find.

[2017-11-02 23:00] eaplatanios commented on #34
@lucaRadicalbit I think it's fixed now. Could you please check again?

[2017-11-02 23:24] lucaRadicalbit commented on #34
I still get the same error on the same instruction `TF_GraphNextOperation+0x1a`

[code]

If you think I can do some trying in some way tell me so I can help you find where the problem is

[2017-11-02 23:31] eaplatanios commented on #34
Did you clear the Ivy cache before rerunning so that sbt picks up the new jars?

On Nov 2, 2017, 7:24 PM -0400, Luca Tagliabue <notifications@github.com>, wrote:

[2017-11-02 23:31] lucaRadicalbit commented on #34
Now I try, I let you know

[2017-11-02 23:42] lucaRadicalbit commented on #34
It works !!!!!!!

[code]

Can I ask you which was the problem ?

[2017-11-03 00:57] eaplatanios commented on #34
@lucaRadicalbit That's great to hear! :))

So, I found two issues and I'm not sure which one was affecting your case, but I fixed both:
1. When loading the TensorFlow dynamic libraries in Scala, the libraries are loaded by default using `dlopen` with the `RTLD_LOCAL` set. Then, when I load my JNI bindings dynamic library, which depends on them, they get reloaded again by `dlopen`, because it's not

[2017-11-03 03:49] thak123 opened #36 "Unable to run latest build using intellij"
the latest code is unable to build using sbt.

[2017-11-03 03:52] eaplatanios commented on #36
It builds fine for me and it also seems to build fine in Travis CI. Could you please give me some more information on the error you’re getting?

On Nov 2, 2017, 11:49 PM -0400, Gaurish Thakkar <notifications@github.com>, wrote:

[2017-11-03 05:10] siddhartha-gadgil opened #37 "Libraries claiming to be extracted but not working"
I was trying to experiment with tensorflow_scala, but I get an error when running a tiny test program (in sbt) after a separate tensorflow installation
[code]

I checked to see that `Extracting the 'tensorflow_jni' native library to /tmp/tensorflow_scala_native_libraries1715329719143383324/libtensorflow_jni.so` did not actually happen, i.e. there is no sub-directory in /tmp with the above (or any

[2017-11-03 08:18] eaplatanios commented on #37
@siddhartha-gadgil The libraries are extracted fine but are deleted once the program terminates. That's why you don't see them in the `tmp` directory. The problem in your case has to do with which version of the compiled TensorFlow binaries you're working with. Could you try setting the following dependency in your `build.sbt` file?

`libraryDependencies += "org.platanios" %% "tensorflow" % "0.1.0

[2017-11-03 15:04] lucaRadicalbit opened #38 "Restore Model: IllegalArgumentException: Cannot find graph collection key named 'variables'."
I'm trying to restore a model inside a Scala environment and I get this error:

[code]

I am wondering, why do you try to get the key 'variables'  and than check that the object is and UNBOUND_INPUTS ? I try to understand if I misunderstood how save a model in order to restore it to train again.

![screen shot 2017-11-03 at 15 41 08](https://user-images.githubusercontent.com/32895300/32380237-e281

[2017-11-03 15:30] lucaRadicalbit commented on #38
@eaplatanios Just a question, the `filename.meta` protobuf generated saving a TF model with your Scala API is different from a `filename.meta` protobuf generated saving an identical TF model but written with the Python API or if the models are exactly the same the two files will be identical ?

[2017-11-03 21:21] eaplatanios commented on #38
@lucaRadicalbit That is unexpected. I can't seem to reproduce the error. The `UNBOUND_INPUTS` condition has to do with how to load unbound inputs from loop contexts and so it doesn't affect your case. It seems like the `Graph.Keys` object is not initialized correctly. What is the code you use to get that error?

[2017-11-03 21:22] eaplatanios commented on #38
As for the `filename.meta` protobuf, there can be differences with the Python version as I sometimes name things differently, etc., but other than names, basic structure should be very similar and the Python API should be able to load models saved with my Scala API, and vice versa.

[2017-11-04 00:51] lucaRadicalbit commented on #38
@eaplatanios  Today I try both.  I failed to load in Scala a model generate with Python an vice versa. If you try to load for example a Python model with your Scala API you don't have any problems or errors ?

[2017-11-04 19:16] eaplatanios commented on #38
@lucaRadicalbit That's interesting. I want to figure this out, but in order to save some time, could you please send me the code you used (both Python and Scala), so I can re-produce the problem?

[2017-11-05 05:37] eaplatanios commented on #37
@siddhartha-gadgil It's not an issue with your configuration. I was able to re-produce the problem and I'm currently looking into how to fix it. I'll update you soon. Thanks for finding that! :)

[2017-11-05 09:30] #37 closed

[2017-11-05 09:31] eaplatanios commented on #37
@siddhartha-gadgil I think the issue has been fixed with commit #fc0428d, but please let me know if you still get the same error.

[2017-11-05 09:32] eaplatanios commented on #29
@lucaRadicalbit @mandar2812 I recently made some changes in how the dynamic libraries are loaded. Could you please let me know if you still have the issues you had?

[2017-11-05 11:46] tarjeir opened #39 "Exception in thread "main" java.lang.UnsatisfiedLinkError on darwin-cpu-x86_64"
Hi

Very eager to test this API! But gave up the first time and noticed quite active development. Gave it another try now. Since I am not an expert in native library linking I still fail at the basics:

1. This is what is in my sbt:
`resolvers += Resolver.sonatypeRepo("snapshots")`
`libraryDependencies += "org.platanios" %% "tensorflow" % "0.1.0-SNAPSHOT" classifier "darwin-cpu-x86_64"`

2. My exc

[2017-11-05 13:44] tarjeir commented on #39
After fooling around on different stackoverflow threads etc. I found that SIP (Security Integrity Protection)  is preventing @rpath to work on Mac OSX. To overcome that problem I ran :

This solved it, but is rather impractical since this needs to be done runtime.:(

[2017-11-06 03:25] siddhartha-gadgil commented on #37
I seem to have the same issue. I am trying to work with the source to get
better diagnosis (I previously failed because of old protobuf version). I
can compile but get the following error in a console session.

[code]

I have built the latest tensorflow from source. Is this an API change there?

Thanks

On Sun, Nov 5, 2017 at 2:01 PM Anthony Platanios <notifications@github.com>
wrote:

[2017-11-06 03:28] eaplatanios commented on #37
@siddhartha-gadgil As a first step I would suggest you remove your TensorFlow installation (the so files) and use this dependency on a test project:

`libraryDependencies += "org.platanios" %% "tensorflow" % "0.1.0-SNAPSHOT" classifier "linux-cpu-x86_64"`

You should also clear your Ivy cache before so you get the latest version of my API. You can do this (usually) by deleting the `~/.ivy2/cache/o

[2017-11-06 03:35] siddhartha-gadgil commented on #37
Works :) Thanks a lot.
I am happy using the classifier since for now I am just experimenting.

[2017-11-06 03:36] eaplatanios commented on #37
@siddhartha-gadgil That's great! :) So, whenever you get the chance, you could try compiling with the master branch of TensorFlow repository. That should normally work. If it doesn't, I'd more than happy to help figure out what's wrong. :)

[2017-11-06 03:38] siddhartha-gadgil commented on #37
I had compiled with the master branch and got the issue reported above. It seems the same as https://github.com/tensorflow/fold/issues/57

[2017-11-06 03:39] eaplatanios commented on #37
Given that I recently made changes to how the libraries are loaded. You could try again now that you cleared your Ivy cache and it might work. I'm actually curious.

[2017-11-06 03:46] siddhartha-gadgil commented on #37
The error is back. In case this is relevant, while compliling in sbt (after clean) I get the warning
[code]

[2017-11-06 06:22] thak123 commented on #36
[warn] Unable to reparse org.platanios#tensorflow_2.11;0.1.0-SNAPSHOT from sonatype-snapshots, using Mo[warn]
Nov 06 05:57:09 IST 2017 [warn] Unable to reparse org.platanios#tensorflow-jni_2.11;0.1.0-SNAPSHOT from sonatype-snapshots, using Mo[warn]
Nov 06 05:55:48 IST 2017 [warn] Unable to reparse org.platanios#tensorflow-api_2.11;0.1.0-SNAPSHOT from sonatype-snapshots, using Mo[warn]
Nov 06 05:58

[2017-11-06 06:30] siddhartha-gadgil opened #40 "Are data, example likely to be published soon?"
I see a TODO in build.sbt. Got Linear regression working, want to try MNIST (and word2vec)

[2017-11-06 07:11] thak123 commented on #36
Error:Error while importing SBT project:<br/>...<br/><pre>[error] 	at sbt.MainLoop$.runWithNewLog(MainLoop.scala:70)
[error] 	at sbt.MainLoop$.runAndClearLast(MainLoop.scala:52)
[error] 	at sbt.MainLoop$.runLoggedLoop(MainLoop.scala:37)
[error] 	at sbt.MainLoop$.runLogged(MainLoop.scala:29)
[error] 	at sbt.StandardMain$.runManaged(Main.scala:104)
[error] 	at sbt.xMain.run(Main.scala:71)
[error] 	a

[2017-11-06 07:50] eaplatanios commented on #36
@thak123 I'm not sure what the problem is but it doesn't seem to be related to tensorflow for Scala. It looks like it has to do with your IntelliJ setup for SBT. Are you able to run other Scala projects using IntelliJ and SBT fine?

[2017-11-06 11:15] lucaRadicalbit commented on #29
@eaplatanios The LinearRegression example on my UbuntuMate now works

[2017-11-06 17:02] mandar2812 commented on #29
@eaplatanios Yes it works now on Linux, but it does not load anymore on Mac :(

[code]

[2017-11-06 18:54] eaplatanios commented on #40
@siddhartha-gadgil The `data` and the `examples` modules are now also included in the publish artifacts. You can use them by specifying one or both of the following dependencies in your project:

[code]

The artifacts are currently being published and so if your dependencies don't work immediately please wait a few minutes and try again.

[2017-11-06 18:54] #40 closed

[2017-11-06 18:58] eaplatanios commented on #35
That's useful. Thanks. :)

[2017-11-06 19:09] eaplatanios opened #41 "Errors when loading the TensorFlow dynamic libraries"
@lucaRadicalbit @mandar2812 @siddhartha-gadgil @sujitbiswas @tarjeir

There have been multiple issues reported related to loading the TensorFlow dynamic libraries (namely `libtensorflow.so` and `libtensorflow_framework.so`). I want to collect everybody's experiences and issues here so we can keep track of them and finally fix this problem. It seems that every time I provide a fix for some platform

[2017-11-06 19:10] eaplatanios commented on #29
@mandar2812 I'm closing this and we can move the conversation to #41, which collects all related issues in one place.

[2017-11-06 19:10] #29 closed

[2017-11-06 19:12] eaplatanios commented on #39
@tarjeir Thanks a lot for giving this API a try. I really hope you find it useful. I'm sorry about the issue you've been having. It seems that loading the dynamic libraries correctly for multiple systems has been eventful. I have created a new issue, #41, to aggregate all these concerns and resolve this for everyone. I'll close this issue and we can continue the conversation and resolution there.

[2017-11-06 19:12] #39 closed

[2017-11-06 20:32] eaplatanios commented on #41
I was able to reproduce the problem where case 3 is not working and I'm working on a fix.

[2017-11-06 23:24] eaplatanios commented on #41
I think the issue was fixed with commit b3b0aad. All four cases seem to work fine for me. Could people who had issues please check and confirm that all works fine for them? Thanks! :)

[2017-11-07 03:15] siddhartha-gadgil commented on #40
Works beautifully. This is brilliant stuff.
The only slight issue is that examples have directories hard-coded in them,
so I can run in a console (as I did) but not just "run"

On Tue, Nov 7, 2017 at 12:24 AM Anthony Platanios <notifications@github.com>
wrote:

[2017-11-07 03:18] eaplatanios commented on #40
Great, thanks!:) Oh yes. I’m sorry about that. It was because I was using them to test my code. I’ll standardize them a bit and update I_n the next couple of days.

On Nov 6, 2017, 10:15 PM -0500, Siddhartha Gadgil <notifications@github.com>, wrote:

[2017-11-07 05:25] siddhartha-gadgil commented on #41
Since my error persists, here it is in painful detail

* My OS is Ubuntu 16.04
* I cloned tensorflow, checked out the tag v1.4.0, the latest release (same behaviour also with latest commit).
* cleared both bazel and ivy cache.
* compiled with bazel build as per instructions.
* made LD_LIBRARY_PATH point to the directory with `libtensorflow.so`
* pulled this repository, so I am on commit b3b0aad.
*

[2017-11-07 05:29] eaplatanios commented on #41
@siddhartha-gadgil Can you check out the master branch from the TensorFlow repository and try with that? If you still get the same error, I will investigate further.

[2017-11-07 06:12] siddhartha-gadgil commented on #41
Got the same error on master (after cleaning bazel and ivy caches).

[2017-11-07 12:52] mandar2812 commented on #41
Hi @eaplatanios , I refreshed my ivy and coursier cache and now the tensorflow library is loading fine on MacOS Sierra, hopefully this addresses point 3.

I am refreshing my builds on linux (point 1.) to confirm on the success on that as well

[2017-11-07 16:23] siddhartha-gadgil commented on #41
The problem in my case may be not running `nativeCompile`. Will verify tomorrow morning (Indian time)

[2017-11-07 17:37] eaplatanios commented on #41
@siddhartha-gadgil Do you also have `libtensorflow_framework.so` in the same directory as `libtensorflow.so`?

@mandar2812 That's good to hear. :)

[2017-11-07 19:22] tarjeir commented on #41
@eaplatanios I can confirm that the problem seem solved now!. Thanks. Will test more during the weekend

[2017-11-08 03:11] siddhartha-gadgil commented on #41
Yes, I do have `libtensorflow_framework.so` and `libtensorflow.so` in the same directory, and this is my `LD_LIBRARY_PATH`

[2017-11-08 03:38] siddhartha-gadgil commented on #41
In case this helps, here is a much bigger dump of my session. There were warnings (logged as errors) in the build stage.

[code]

[2017-11-08 10:13] lucaRadicalbit commented on #41
@eaplatanios I retry today to check the point 1 and the point 3 and with the LinearRegression example everything seem to be ok.

Point 1:
UbuntuMate 17.04
Scala 2.11.11
Sbt 0.13

Point 3:
macOS Sierra 10.12.6
Scala 2.11.11
Sbt 0.13

I clear the .ivy2/cache before every test I've done this morning. It's seem everything it's fine for the moment.

[2017-11-08 14:50] lucaRadicalbit commented on #38
@eaplatanios With the code below I try to restore the model create with your LinearExample.scala (so Scala to Scala stuff here)
[code]

Why the tf.variable weight has RESOURCE as dataType ?

[code]

When I try to run a session in order to print the previous weight value before start a training  I get an error.
`println("weight initial value: " + session.run(fetches = weights).scalar)`
I insert thi

[2017-11-08 16:03] thak123 commented on #36
yes. I am able to build other projects. I tried using commandline and got this error [error] java.lang.RuntimeException: No main class detected.

[2017-11-10 07:50] eaplatanios commented on #38
@lucaRadicalbit I'm really sorry for responding so late to this but I'm rushing for a deadline and I'm currently working on adding RNN support to the library.

Regarding your question, I think I now know what's the issue. It's not really a problem per se. TensorFlow supports two types of variables: (i) reference-typed which is what the Python API uses, and (ii) resource-backed which is what I am u

[2017-11-10 21:54] mazorigal opened #42 "api for tensorflow serving"
Hi,

I am quite new to tensorflow and not sure if that the proper place to put my question.
My main task is to support our data scientists in deploying tensorflow models into production properly rather then developing tensorflow models.
One of the ideas for such deployment is to use tensorflow serving and then write a simple scala service that would be the gate to interact with the tensorflow serv

[2017-11-11 15:35] thak123 commented on #36
its fixed with latest build.. please close the issue

[2017-11-11 18:57] eaplatanios commented on #36
@thak123 Great, thanks! :)

[2017-11-11 18:57] #36 closed

[2017-11-11 18:58] eaplatanios commented on #41
@siddhartha-gadgil I am not able to reproduce the problem you are having. Could you please try to set this up in a clean environment and see if it occurs again?

@lucaRadicalbit That's great! Thanks for the update! :)

[2017-11-12 04:17] siddhartha-gadgil commented on #41
Unfortunately the problem persists with a fresh install on my laptop at
home (also Ubuntu 16.04). I had previously not edited `.jvmopts` but did so
this time. This was almost a clean install:

* Python 3 was installed previously as part of Anaconda.
* `bazel` and `tensorflow` were freshly installed, the latter from the
master branch of the source.
* protocol buffer 3 was installed following
https:

[2017-11-12 04:21] siddhartha-gadgil commented on #41
Just to highlight one point in the logs, I get
[code]

Is the problem in the 91% build of tensorflow_jni?

Another possibly significant log is:
[code]
Should I move the `.so` files to some default directory of CMAKE? Should I
add it to my `PATH` (not just `LD_LIBRARY_PATH`)?

Thanks,
Siddhartha

On Sun, Nov 12, 2017 at 9:46 AM Siddhartha Gadgil <
siddhartha.gadgil@gmail.com> wrote:

[2017-11-12 06:03] eaplatanios commented on #41
Could you try moving the so files to /usr/lib or /usr/local/lib and see what happens?

On Nov 11, 2017, 11:21 PM -0500, Siddhartha Gadgil <notifications@github.com>, wrote:

[2017-11-12 07:19] siddhartha-gadgil commented on #41
I copied  them to `/usr/lib`, but the error persists. Here is what happens when I try to run the linear regression example.
[code]

[2017-11-12 07:19] siddhartha-gadgil commented on #41
I see a related issue at https://github.com/tensorflow/tensorflow/issues/1569

[2017-11-13 05:19] debasish83 commented on #17
@eaplatanios @MLnick distributed.Server are you planning to push it back to java API OR scala and java API will continue to have it's own jni ?

[2017-11-13 05:20] debasish83 commented on #17
I am going to try the Server API out and see if I can open 2 PS and a set of worker nodes to run distributed training...but I still feel the core API should be java so that all JVM languages can have access to it...

[2017-11-13 05:25] debasish83 commented on #17
Also the forwardprop and backward prop are they exposed in C API ? Python wrappers I believe directly call C++ code...

[2017-11-13 09:54] lucaRadicalbit commented on #38
@eaplatanios Don't worry, I understand the your rush.
Regarding the scala2scala stuff I try to write the line of code that you suggest to me but I get a compile time error. It seem that the value field is present for the `Variable` type but not for the `Output` and `OutputLike` type.
![screen shot 2017-11-13 at 10 22 18](https://user-images.githubusercontent.com/32895300/32719071-5f113dfa-c85f-11e

[2017-11-13 15:12] lucaRadicalbit commented on #38
@eaplatanios About the `Exception in thread "main" java.lang.IllegalArgumentException: Cannot find graph collection key named 'variables'.` problems I tried with the debug mode to avoid the exception that the getOrElse method inside` Graph.Keys.fromName(name)` raise. I manually modify the content of the `val key` with the value` unbound_inputs` and that's works in order to restore a model trained

[2017-11-15 07:46] eaplatanios commented on #17
@debasish83 The C API does not expose much other than the very core functionality of creating single ops and executing them. I have implemented the core backprop iteration in the `org.platanios.tensorflow.api.ops.Gradients` object. Then, the gradient of each op is defined in the respective object (e.g., in `org.platanios.tensorflow.api.ops.Basic.Gradients`).

I would very curious to see how your a

[2017-11-15 07:47] eaplatanios commented on #17
@debasish83 I agree with respect to the Java API, but I only need the Scala API currently and I don't have much free time to work on the Java side for now, given my research constraints. I'd be more than happy to assist with developing a Java interface to my API though. :)

[2017-11-15 07:51] eaplatanios commented on #41
@siddhartha-gadgil What version of GCC are you using when compiling the JNI bindings?

[2017-11-15 08:01] eaplatanios commented on #32
@sujitbiswas Sorry for the late reply but I have been very busy with a paper deadline. I haven't currently implemented an interface to `tf.image.decode_jpeg` but I will add one as soon as I get the chance. In general, to use the `Op.Builder` class, you can look into the following:

- In the main TensorFlow codebase, find the `xx_ops.cc` file you are interested in. These are located in the `tensorf

[2017-11-15 08:24] csaladin94 opened #44 "Gradients: can't handle non-existing gradients with gateGradients = true"
Hi there!

I found a bug when using `tf.Gradients.gradients(..., gateGradients=true)` on a graph that uses a `tf.concatenate` operation.
I found the bug because I wanted to use the AdaGrad optimizer.

A simple example to reproduce the issue:

[code]

I dug a bit in the code, the exception is thrown when tf wants to create a `ControlFlow.tuple ` with the inputs containing a `null` value.

Thanks a

[2017-11-15 08:30] eaplatanios commented on #44
@csaladin94 Thanks for pointing this out! I think this has already been fixed in the master branch although I haven't released new artifacts on Sonatype for it. I will release new artifacts tomorrow and then your code should probably run fine. :)

[2017-11-15 08:37] csaladin94 opened #45 "tf.summary.image throws InvalidArgumentException"
Hi Anthony,

I've found another bug when using `tf.summary.image`.
Every time I want to use the function, an `InvalidArgumentException` is thrown:

I think the binding to the native op might be wrong.
Anyways, the following code reproduces the bug for me:

[code]

Thanks,
Carlo

[2017-11-15 08:48] csaladin94 commented on #44
@eaplatanios Thanks for the fast answer, glad to hear that!
I'll come back to you as soon as I have tried my code with the update.

[2017-11-15 08:53] #45 closed

[2017-11-15 08:53] eaplatanios commented on #45
@csaladin94 Thanks a lot for also finding this! :) There was indeed a bug and I fixed it in the last commit. This fix will also be included in the artifacts I will release tomorrow.

[2017-11-15 09:07] csaladin94 commented on #45
@eaplatanios Thanks for the fast fix!
Really appreciate your responsiveness.

[2017-11-15 11:32] siddhartha-gadgil commented on #41
The version is gcc (Ubuntu 5.4.0-6ubuntu1~16.04.5) 5.4.0 20160609

On Wed, Nov 15, 2017 at 1:22 PM Anthony Platanios <notifications@github.com>
wrote:

[2017-11-15 14:28] csaladin94 commented on #44
@eaplatanios Just compiled the project myself from the master branch, can confirm that it the bug is fixed.

[2017-11-15 14:28] #44 closed

[2017-11-16 00:10] eaplatanios commented on #44
@csaladin94 Great, thanks for checking it! :)

[2017-11-16 00:10] eaplatanios commented on #45
@csaladin94 No problem. Thank you for finding out bugs fast. :)

[2017-11-16 00:27] eaplatanios commented on #41
@siddhartha-gadgil Would it be easy to try compiling it with GCC 4.8 to make sure that when our environments match all goes well?

[2017-11-16 03:28] siddhartha-gadgil commented on #41
I changed my gcc and g++ versions to 4.85 (i.e., changed symbolic links and
checked c++ points to this), but the error persists

On Thu, Nov 16, 2017 at 5:57 AM Anthony Platanios <notifications@github.com>
wrote:

[2017-11-16 18:25] eaplatanios commented on #41
@siddhartha-gadgil I don't know if this may be too much to ask, but is there a way I may be able to get SSH access to the server you're getting this error in to investigate? Otherwise, could you create a Dockerfile that reproduces the problem and I can use that for debugging.

[2017-11-17 02:56] siddhartha-gadgil commented on #41
I'll try to set up ssh access to my laptop at home (the one at work is
fire-walled and is the institutes). I'll also try to create a dockerfile.

On Thu, Nov 16, 2017 at 11:55 PM Anthony Platanios <notifications@github.com>
wrote:

[2017-11-18 15:56] eaplatanios commented on #38
@lucaRadicalbit I'm currently looking into this. I think it has to do with some static initialization code that should have been called before `fromName` is called, but I'm looking into it.

Regarding the resource-based variables, what you say is correct and the `use_resource` flag should work. On second thought though, that shouldn't really affect loading the model. In either case, I'm looking in

[2017-11-18 16:58] #38 closed

[2017-11-18 16:59] eaplatanios commented on #38
@lucaRadicalbit This should be fixed now. It should now also give you an informative error if you haven't used `use_resource=True` in Python and you try to load a model in Scala. Otherwise, it should load it just fine. One last thing to check would be to save a model in Scala and load it in Python, but I didn't get the chance to do that.

[2017-11-18 18:35] eaplatanios commented on #42
@mazorigal I'm sorry for the late response but I've been working towards a paper deadline and it's been super busy. Adding integration support with TensorFlow serving should be easy in my library. I already support reading/writing Proto files for both models and tensor values. I think we pretty much have all the necessary pieces and so it shouldn't be hard.

I haven't used TensorFlow serving at al

[2017-11-20 12:20] lucaRadicalbit commented on #38
@eaplatanios
Now it works !!!
I also try save model in Scala and load in Python and that works too.
Only a clarification, when I use Python to generate the model . . .
[code]

. . . and I restore that model with Scala API I have to use "foo_weights/Read/ReadVariableOp:0" if I want to print the previous weight value trained in Python
[code]

When I use Scala to generate the model . . .
[code]
. . .

[2017-11-20 17:16] eaplatanios commented on #38
@lucaRadicalbit I'm glad it works now! :)

Regarding the names, yes that is expected. I have implemented a somewhat cleaner naming scheme than the Python API removing some of the clutter. It's also quite hard to replicate the naming scheme exactly as you would need to do that for every single op definition (lots of the Python implementations for ops add custom name scopes -- such as "Read" in your

[2017-11-20 22:18] evanthomas opened #51 "Slow Tensor creation on linux/gpu"
I'm trying load the matlab version of VGG19. I'm using a nice java library to read the data out of the mat file and into high dimensional array is scala land. This works well and takes a minute or two to load the data into memory. However, when I convert the arrays into Tensor objects the code is burning ~1300% CPU for tens of minutes before I kill it. Thread dumps (below) show a single active jav

[2017-11-21 00:30] eaplatanios commented on #51
@evanthomas I don't know what this `MLNumericArray` class is but is there a way to get the contents of the array as a `ByteBuffer` directly?

[2017-11-21 00:58] evanthomas commented on #51
@eaplatanios The problem is not getting it out of the `MLNumericArray` but getting it into the `Tensor`. As you can see from the code fragment, I pull it out a single value at a time, I can just as easily stuff it into a `ByteBuffer` rather than N-dim array and pass the buffer to `Tensor`. I'll let you know how it goes.

[2017-11-21 01:31] eaplatanios commented on #51
@evanthomas The fastest way to get it into the Tensor is through the byte buffer with Tensor.fromBuffer (you can look at the MNIST data loader for an example). However, note that getting them out one by one is also not the best choice if you can directly obtain the buffer.

On Nov 20, 2017, 7:58 PM -0500, evanthomas <notifications@github.com>, wrote:

[2017-11-21 11:32] evanthomas commented on #51
@eaplatanios `Tensor.fromBuffer` is much, much faster than Arrays. (Arrays are essentially unusable). Here is a little test:
[code]

Here are the results:
[code]

[2017-11-22 09:55] sbrunk opened #52 "Snapshot releases have vanished from sonatype"
https://oss.sonatype.org/index.html#nexus-search;quick~platanios
seems to be empty.

Any idea why?

[2017-11-22 11:42] evanthomas opened #53 "IndexOutOfBoundsException in Tensor.hashCode"
This reproduces the issue:
[code]

Here is the stack trace:
[code]

Not urgent from my point of view, I'll just work around it.

[2017-11-22 13:11] sbrunk opened #54 "Dataset.fromGenerator not working"
Playing with the dataset API I tried the following:

[code]

This is basically just copied from the docs:
https://github.com/eaplatanios/tensorflow_scala/blob/dce84a0b9f22e7212b3615efe1e232b7a682eaba/api/src/main/scala/org/platanios/tensorflow/api/ops/io/data/Dataset.scala#L265-L266

I get this error though. Do you have any idea what I'm missing here?
[code]

[2017-11-22 19:22] eaplatanios commented on #51
@evanthomas I'm glad to see you resolved your issue. Note that this makes sense for a lot of reasons. One of which is that your array creation time might be very slow (you can profile that actually). You have a for-comprehension over the four indices. Even though you may think of that as a for-loop it's not the same. This is not equivalent to four nested tight loops. In fact, the indices may also

[2017-11-22 19:22] #51 closed

[2017-11-22 19:22] eaplatanios commented on #52
Sorry about that it happened while I was updating the artifacts. I'll publish them again asap and post here. :)

[2017-11-22 19:34] eaplatanios commented on #52
@sbrunk The snapshots should be back up now. :)

[2017-11-22 19:34] #52 closed

[2017-11-22 22:32] sbrunk commented on #54
Thanks for looking into this. Unfortunately, the error still persists.

[code]

Note that it works (the implicit evidence is summoned) when I use `DataType` explicitly as type param instead of the inferred `DataType.Aux[Int]`
[code]
but then dataset is of course also of type `Dataset[Tensor, Output, DataType, Shape]`

[2017-11-23 00:59] evanthomas commented on #51
The `MLNumericArray` does have direct access to the ByteBuffer and now the load into Tensors is blinding fast, significantly faster than the numpy equivalent.

[2017-11-23 06:52] eaplatanios commented on #51
That's great to hear! :) I'm particularly happy about the numpy comparison :) Things should also be faster than the Python equivalent when you feed tensors into TensorFlow sessions, as I've made the memory shared and no copying is performed (aside for string tensors which require a copy). In Python the tensors are copied around more frequently.

[2017-11-23 07:31] #54 closed

[2017-11-23 07:32] eaplatanios commented on #54
@sbrunk That's interesting. I had created a type trait for that case a while ago and was not using it in this case. I think it's fixed now, but could you please confirm that it also works for you.

[2017-11-23 07:50] eaplatanios commented on #53
@evanthomas The third argument of the `Tensor.fromBuffer` method is supposed to be the number of bytes to read from the buffer and not the number of elements. The reason that's needed is because string tensors don't have a fixed element size and thus their size in terms of number of bytes cannot be inferred from their shape. If you change to the following line, your code will work. :)

[code]

[2017-11-23 07:50] #53 closed

[2017-11-23 07:58] siddhartha-gadgil commented on #41
I have made a docker image where the error was replicated:
[code]

[2017-11-23 09:55] sbrunk commented on #54
Works for me too. Thanks. :)

[2017-11-23 11:51] evanthomas commented on #53
@eaplatanios Doh! This also fixes a segv in JNI that I was trying to figure out.

[2017-11-23 14:46] mandar2812 opened #56 "Errors when resuming training from saved checkpoint"
It seems after some recent updates, resuming training on MNIST/CIFAR does not work anymore and tensorflow_scala is not able to respawn a previously trained model and begin training it further.

[code]

[2017-11-23 14:47] mandar2812 commented on #56
Just for reference, this was working till the snapshots of Nov 20 2017.

[2017-11-23 15:05] mandar2812 commented on #56
Also I am not noticing this issue with the PTB example, only for MNIST and CIFAR

[2017-11-23 15:25] mandar2812 opened #58 "TensorBoard not accessible via browser"
When ever I run any of the examples I get a log message that tensorboard has been started at [host]:[port] but I am never able to actually access it in my browser, I get `Failed to load resource: An SSL error has occurred and a secure connection to the server cannot be made.`

[2017-11-23 19:44] eaplatanios commented on #58
I’ll look into this when I get home, but could you try running it locally and make sure that port 6006 is accessible?

[2017-11-23 19:46] eaplatanios commented on #56
Is that while trying to use previously created checkpoints? If so, could you try clearing up the checkpoints directory and running again? After it starts saving new checkpoints could you try stopping and rerunning? It may be that old checkpoints are not compatible with the current model because I made some edits to the optimizers.

[2017-11-23 21:03] mandar2812 commented on #56
Yes because you changed the optimisation class 😊. That's why I cleared the checkpoint cache and ran the cifar and mnist experiment twice, the second time they fail to load the checkpoint information. I will double check this to make sure to be sure without doubt.

[2017-11-24 10:31] mandar2812 commented on #56
So I tried it once more and there is some weird behaviour:

  1. The cifar example was trained till epoch 3000 with checkpoints at each 100 epoch

  2. The second time I ran it, it restored and kept training the network.
[code]

  3. I run it again and it errors

[code]

[2017-11-24 12:14] mandar2812 commented on #58
So if i run `tensorboard --logdir tmp/cifar_summaries/` separately from my python 3.5 virtual env, tensorboard runs fine on `0.0.0.0:6006`. But trying the same when DynaML is executing [`cifar.sc`](https://github.com/transcendent-ai-labs/DynaML/blob/master/scripts/cifar.sc) does not work.

[code]

[2017-11-24 13:56] csaladin94 opened #59 "SIGSEGV in UpdateEdge native code"
Disclaimer: I'm not able to reproduce this bug in a meaningful way, but I'll just add an issue anyways.

Since commit "Updated the Python API C++ file." I get the following error.
When building my graph, I get a SIGSEGV in the native code (hs_err_pidxxxxx.log):
[code]

This error only occurs when on an AWS instance, not when locally, which gives me a lot of headaches.
The tensorflow-scala version

[2017-11-24 13:59] mandar2812 commented on #59
@csaladin94 I can confirm getting the exact same error when running the [RNN PTB](https://github.com/transcendent-ai-labs/DynaML/blob/master/scripts/rnnPTB.sc) example on my machine.

[2017-11-24 22:47] sbrunk commented on #58
In #60 I've changed the call to tensorboard so it should work with Python 3 as well (and prints a warning if it can't start tensorboard). It works for me if I run Scala within the virtual env.

Perhaps this works for you too.

[2017-11-25 08:58] debasish83 commented on #17
@eaplatanios I am going through the gradient calc code but it's better if the logic is not duplicated at multiple places so that we don't need to fix the bugs at multiple places......Python gradient code is moving out to C++ API and if we can call the C/C++ API using scala, that will be much cleaner...Do we really have to expose all these details in scala ? I take a dataframe convert to TFRecord a

[2017-11-25 09:13] debasish83 commented on #17
Don't we want to run all the heavy compute in c++ ? say NN.scala from api/ops...plan is to expose all these compute on JVM ? native c++ compute should be more efficient...

[2017-11-25 18:02] debasish83 commented on #17
Is it possible to add tensorflow as module and use the header files in Javah from the module ? The module can be updated with each release...the copy of header files will be difficult to maintain...Let me know and I can take a stab at it...in build, I will specify for example a set of header files to be used and rest of the flow stays similar...

[2017-11-25 19:51] sbrunk opened #61 "Accuracy Metric does not seem to work correctly"
Running the MNIST example the accuracy metric hook produces odd results. Note that the numbers don't change at all between step 1000 and 10000.

[code]

[2017-11-26 04:36] eaplatanios commented on #61
@sbrunk This is expected actually. The evaluation hook loads the latest saved checkpoint and performs evaluation. This means that if you don't save checkpoints in-between you should not expect the evaluation result to change. I'm not sure if there is something better to do than this given that the evaluation needs to be performed in a new session, but I'm still working on this hook so it might cha

[2017-11-26 04:37] eaplatanios commented on #61
Can you confirm that things work as expected if you save checkpoints more regularly so we can close this? Also, please let me know if you have suggestions about what else to do about the evaluation hook and in general if you have any feedback about the learn API (because I remember you were planning to work on a similar high-level API at some point). :)

[2017-11-26 04:38] eaplatanios commented on #59
@mandar2812 @csaladin94 Which version of TensorFlow are you using? Is it pre-compiled packaged binaries I provide with the library JARs? I think I forgot to update those so will do so ASAP. I'm currently on a trip for Thanksgiving but I'll do it once I get home tomorrow evening.

[2017-11-26 04:39] eaplatanios commented on #58
@mandar2812 @sbrunk I'll look into the PR and update this.

[2017-11-26 04:41] eaplatanios commented on #56
@mandar2812 Oh I see. This is actually expected. It happens because by copying the script twice you're adding ops to the same graph and they get automatically assigned unique names with IDs appended to them if the names are re-used. Therefore, the names in the saved checkpoints do not match. You can try copying the graph creation code within a `tf.createWith(graph = Graph()) { ... }` scope so you

[2017-11-26 04:43] eaplatanios commented on #58
@mandar2812 This must have been fixed in #60. Please re-open this issue if there's still a problem and thanks @sbrunk for the fix. :)

[2017-11-26 04:43] #58 closed

[2017-11-26 04:47] eaplatanios commented on #17
@debasish83 Regarding the gradient computation code, I do support using the TensorFlow C++ API thought the `ccGradients` method. However, note that a lot of ops are not currently supported for gradient computation in the official TensorFlow API and that's why I have my own implementation of the back-propagation code.

Also, regarding the heavy compute: no heavy computation is done on the Scala sid

[2017-11-26 16:22] csaladin94 commented on #59
@eaplatanios I'm compiling the jni and ops library myself. Also, I use a pre-compiled tensorflow library from a nightly jenkins build that I downloaded like a week ago.
If I revert just the commit "Updated the Python API C++ file", the error disappears.

[2017-11-26 23:24] sbrunk commented on #61
Yes I can confirm that it works fine for me when changing the checkpoint saving hook trigger to match the one for evaluation. Thanks!

Regarding feedback: I've just started to look into the examples in more detail and also to create a few on my own to get to know the learn API better. So I'm probably going to pester you with a lot of questions. :)

A few remarks so far:

* The layer composition AP

[2017-11-26 23:37] #61 closed

[2017-11-26 23:45] debasish83 commented on #17
For the module, it will be nice to add tensorflow master as a git module in your project and then use the header files from directly from tensorflow_scala/tensorflow/core/.....right now I think headers from tensorflow master are getting copy pasted which will change over releases....idea is similar to sparkontensorflow where they added tensorflow as a module and exposed API over it...

[2017-11-27 08:38] mazorigal commented on #42
thanks for the reply.
In order to use tensorflow serving via scala, I had first to copy protbuf files from tensorflow and from tensorflow serving git to my project and then generate scala code from those protbuf files via scala plugin (sbt-protoc). One having the nessasery generated scala code, using grpc protocol (with the help of scalapb plugin) I was able to crate the required components in ord

[2017-11-27 11:53] mandar2812 commented on #59
@eaplatanios In my case its the pre-compiled packaged binaries that you upload.

[2017-11-27 17:59] eaplatanios commented on #42
@mazorigal Yeah that sounds pretty simple and I should be able to support that through my API. A demo project would be very helpful indeed. :)

[2017-11-27 18:00] eaplatanios commented on #42
I can then go on from there and post updated in this issue.

[2017-11-27 18:03] eaplatanios commented on #17
@debasish83 I see what you mean now. The problem is that there is no single directory with all the headers in the main tensorflow repository anyway and we would have to write a script to collect all `*.h` files anyway. Also, one file is modified which would need to be added to that script as a hack. I agree that it would be nice to have an automated way to do this but we need to find a elegant way

[2017-11-27 22:18] eaplatanios commented on #59
@csaladin94 @mandar2812 I'm trying to reproduce this but I can't. Could you try re-running with the updated snapshot artifacts? It may be helpful to create a docker container that reproduces it so I can test.

[2017-11-28 08:04] csaladin94 commented on #59
@eaplatanios From my side I unfortunately can't give you a docker container.
As I said, I'm not able to reproduce it myself, so I'll just work with the commit in question reverted for the moment being, then everything runs fine for me.

[2017-11-28 15:25] debasish83 commented on #17
javah can run in the same folder where the header files are but the output of javah can be pushed to src/native/generated where we link these with the tensorflow library to compile the jni...that way your library is always in sync with one version of tensorflow headers...when new releases come, we pull the module...it's not a big change but I wanted to take your feedback....

Looks like official c

[2017-11-28 15:43] eaplatanios commented on #59
@csaladin94 Sounds good. FYI, I tried running on a few different machines and it doesn't seem to reappear. If @mandar2812 can create a reproducible example, I will look more into it. Otherwise, let's wait and if it doesn't reappear ignore it. It may have been that at some point with some version of the main TensorFlow repo code something was broken that's fine now. Nightlies are like that sometime

[2017-11-28 23:37] evanthomas opened #62 "Illegal instruction exception on mac when slicing"
This code reproduces the problem. I haven't tested exactly this code on linux GPU but a similar slice on linux does not throw the exception.

[code]

I'm using the latest snapshot from Maven, not my own build. Here is my build.sbt:
[code]

Running the code gives:
[code]

Here is the JVM diagnostics:
[code]

[2017-11-29 00:20] evanthomas commented on #62
Accessing a Tensor is enough
[code]

[2017-11-29 00:59] evanthomas commented on #62
I built locally but didn't help.

[2017-11-29 01:50] eaplatanios commented on #62
@evanthomas I can't reproduce this on my MacBook. What version of MacOS are you using?

[2017-11-29 02:00] evanthomas commented on #62
10.13.1

[code]

[2017-11-29 02:04] eaplatanios commented on #62
I am using exactly the same version. When you built locally did you remove the `classifier ...` part from the dependencies in the `build.sbt` file?

[2017-11-29 02:10] evanthomas commented on #62
No I didn't and it seemed to be still pulling from sonatype. I've removed the classifier, cleaned org.platanios from my ivy cache, rebuilt. Now I get:
[code]

So looks like I haven't built it properly.

[2017-11-29 02:12] eaplatanios commented on #62
Have you added the directory that contains `libtensorflow.so` and `libtensorflow_framework.so` to `LD_LIBRARY_PATH`?

[2017-11-29 02:13] eaplatanios commented on #62
You could also try copying these two files to `/usr/local/lib` or `/usr/lib` and see if it loads successfully then.

[2017-11-29 02:14] eaplatanios commented on #59
@csaladin94 @mandar2812 I managed to reproduce this on an Ubuntu machine and I'm working on it now. :)

[2017-11-29 02:25] evanthomas commented on #62
LD_LIBRARY_PATH was not set. Once it was set it works!

Thanks again!

[2017-11-29 02:25] #62 closed

[2017-11-29 02:27] eaplatanios commented on #62
@evanthomas No problem. I’ll look into updating the published artifacts too. :)

[2017-11-29 05:33] #59 closed

[2017-11-29 05:35] eaplatanios commented on #59
@csaladin94 @mandar2812 It turns out that's due a bug in TensorFlow and I removed the change for now. I'll re-add the checks once it's fixed in the core library. I'll update the artifacts soon.

[2017-11-29 16:03] mandar2812 commented on #41
@eaplatanios: `libcudnn.so` `libcudnn.so.5` and `libcudnn.so.5.1.10` do exist on that system, I'm guessing they are not visible to tf_scala because they are not set in `LD_LIBRARY_PATH`?

[2017-11-29 16:06] eaplatanios commented on #56
@mandar2812 Did this work out?

[2017-11-29 16:57] mandar2812 commented on #56
@eaplatanios I will try this out soon and update this issue.

[2017-11-29 17:09] mandar2812 commented on #41
@eaplatanios Okay! I downloaded cuDNN 6 and now it works!

[2017-11-29 17:26] mandar2812 commented on #56
@eaplatanios After running the script once, if I want to run it again in the repl then this works

[code]

Thanks for the tip!

[2017-11-29 17:26] eaplatanios commented on #41
@mandar2812 Sounds good! Thanks for the update! :)

[2017-11-29 17:27] eaplatanios commented on #56
@mandar2812 No problem! I'm glad this helped. :)

Generally, even though I try to make it transparent as much as possible in my API, it's good to be aware of which graph ops being created belong in and what their names are.

[2017-11-29 17:27] #56 closed

[2017-12-08 09:34] mazorigal commented on #42
ok, I will try to find some time for that, but not promise that it would happen by the end of 2017.

[2017-12-10 01:16] mandar2812 opened #63 "GetNext method failing"
When running the cifar and other examples, I get the following exception sporadically (not consistently reproducible)

[code]

[2017-12-10 01:20] eaplatanios commented on #63
Hi Mandar,

Could you try using the in-memory estimator and tell me if the same error appears?

Thanks!

On Dec 9, 2017, 5:17 PM -0800, Mandar Chandorkar <notifications@github.com>, wrote:

[2017-12-11 08:54] mandar2812 commented on #63
Yes! From preliminary runs, `InMemoryEstimator` does not give the same problem. What is causing this to happen though. I perused through some of the code. I think its the `Iterator` class which is where this might be originating right?

 Its a bit difficult to make sense of the general code structure, there are a lot of generics/type arguments, but all in due time!

From the stack trace line 140 i

[2017-12-12 15:53] eaplatanios commented on #63
@mandar2812 I just got back and I'll look into this today. Thanks a lot for taking the time to try and figure out what's wrong. It's true that there are parts of the library architecture that may be a bit hard to grasp, but I'm here to answer any questions you may have and I also plan to add some more documentation explaining the architecture a bit, soon. It would be really helpful if you could lo

[2017-12-12 16:49] #63 closed

[2017-12-12 16:49] eaplatanios commented on #63
@mandar2812 I think this is fixed in the last commit. Could you please confirm? :)

[2017-12-12 20:52] mandar2812 commented on #63
@eaplatanios Great! Can you update the tensorflow_scala artifact on sonatype so I can verify this?

[2017-12-12 21:37] eaplatanios commented on #63
I'm making some more edits and I'll update them very soon -- either tonight or tomorrow. :)

[2017-12-14 15:31] mandar2812 opened #64 "Error when loading TF-Scala on GPU"
I am trying to run the cifar example after loading the latest snapshot, I upgraded cuda to v9.0 and libcudnn7-cuda9.0 I get the following error.

[code]

[2017-12-14 15:32] mandar2812 commented on #64
I dont get what this weird symbol `_ZN10tensorflow7strings8internal9CatPiecesESt16initializer_listINS_11StringPieceEE` is.

[2017-12-14 15:40] eaplatanios commented on #64
@mandar2812 So that symbol should be in the native TF lib. Could you try running the CPU-only version and check if it works?

[2017-12-14 15:59] mandar2812 commented on #64
@eaplatanios Yes the cpu version works just fine on my laptop

[2017-12-14 16:49] lucaRadicalbit opened #65 "Error while restoring model after distributed synchronous training"
@eaplatanios
I wrote a Python script that does a distributed **synchronous** training using the **Between-graph replication approach**. I have 3 workers and 3 ps (don't know maybe this info is useful). I run that script, I did my training and then I saved the model using tf.train.CheckpointSaverHook.
Here below a part of the protobuf generated by the saving operation:

[code]
Python side I must cr

[2017-12-14 17:06] eaplatanios commented on #65
@lucaRadicalbit Could you try replacing this:

[code]

with this:

[code]

It seems to be that sometimes the Python API will obtain the value of the global step as a tensor and sometimes it will obtain the variable itself. In my API, I always obtain the variable directly, because I think that makes more sense and agrees with the semantics of what the global step is.

[2017-12-14 17:15] lucaRadicalbit commented on #65
@eaplatanios
I tried but I got the same behaviour and the same protobuf structure
[code]

[2017-12-14 17:17] eaplatanios commented on #65
And that is while you're still using `tf.get_variable(tf.GraphKeys.GLOBAL_STEP, shape=[], dtype=tf.int64, initializer=tf.zeros_initializer(), collections=[tf.GraphKeys.GLOBAL_VARIABLES, tf.GraphKeys.GLOBAL_STEP, tf], use_resource=True)`? Can you check that the global step variable you create is indeed a resource variable after you create it?

[2017-12-14 17:29] lucaRadicalbit commented on #65
I think the tf.Variable global_step is correctly create as resource-based because when I debug the Scala execution I see the `is_resource` flag True

![screen shot 2017-12-14 at 18 22 05](https://user-images.githubusercontent.com/32895300/34005769-49eaac12-e0fc-11e7-8a2b-6ae6bde5c64b.png)

The image show the call to the fromProto method done by the foreach executed by the parseCollectionDef method

[2017-12-14 17:31] eaplatanios commented on #65
Wait, if you're getting to the `fromProto` method in `parseCollectionDef` then you shouldn't be getting the previous error. It should happen in the if-statement right before that line in `parseCollectionDef`.

[2017-12-14 17:43] eaplatanios commented on #65
I'm just a bit confused as to when and where the error happens.

[2017-12-14 17:44] lucaRadicalbit commented on #65
No because the problem isn't on the `global_step variable`, but is on the `global_step collection_def`. The python code save something inside the `"variables" collection_def` and something inside the` "global_step" collection_def`. I'd like to be more specific but I'm not a big expert on how Tensor Flow serialize the model.
Going back to Scala, The parsing of this collection is done correctly:
[co

[2017-12-14 17:46] lucaRadicalbit commented on #65
If I wasn't clear with my last comment I'll promise I'll write e more complete explanation as soon as I can

[2017-12-14 17:47] eaplatanios commented on #65
Oh I get it now, no more detailed explanation needed. It looks like the Python API saves the value of the variable in the "global_step" collection and the variable itself in the "variables" collection. That's weird and a bit inconsistent to be honest. I'll look into finding a way to save it as a variable from the Python side, because I feel it makes more sense.

[2017-12-14 17:57] lucaRadicalbit commented on #65
I give you the link of the gist where I write the Python code I use. I hope all my comment are consistent but they should be:
https://gist.github.com/lucaRadicalbit/5bf312e288e8fea94a36ffab1ed09a2b

In the code there are some line with also the comment of the error that I get

[2017-12-14 18:01] lucaRadicalbit commented on #65
I also write on StackOverflow for asking some details about the difference between bytes_list and node_lis. I insert the link, maybe for someone can be useful once I get an answer:
https://stackoverflow.com/questions/47816188/tensor-flow-metagraphdef-protobuf-difference-between-node-list-and-bytes-list

[2017-12-14 19:35] mandar2812 commented on #64
Infact on the GPU machine, after re-building with `gpuFlag = false`, in effect using CPU only mode, the examples run just fine.

[2017-12-14 19:37] mandar2812 commented on #64
@eaplatanios Is the latest snapshot working fine on your GPU machine? I think it might be a problem with my setup, I had to uninstall CUDA8 and install CUDA9, there might be some hanging pointers or what not. On the other hand the code does not complain about finding `libcublas.so.9.0`, so I'm not confident that this is a problem solely on my setup. In any case, let me know what you think :)

[2017-12-14 20:33] eaplatanios commented on #64
@mandar2812 It looks like it can't load a TensorFlow symbol so let me look into it. I think it may be an issue with my cross-compilation setup for the GPU version.

[2017-12-14 20:33] eaplatanios commented on #64
@mandar2812 If you rebuild the native TensorFlow library locally with GPU support and add it to your `LD_LIBRARY_PATH`, does it work fine?

[2017-12-17 20:30] mandar2812 commented on #64
@eaplatanios I compiled Tensorflow with GPU support from source, TF-Scala is still giving me the same error when I try to run cifar on GPU.

[2017-12-17 22:18] sbrunk opened #66 "libtensorflow_ops.so: undefined symbol"
With the current snapshot buiId from sonatype I get the following error when running on GPU (CPU seems to work fine).
[code]

[2017-12-17 22:20] sbrunk commented on #66
Only saw now that this is a duplicate of #64

[2017-12-17 22:21] #66 closed

[2017-12-18 01:10] eaplatanios commented on #64
@mandar2812 @sbrunk Can you guys check if the newly released artifacts work fine?

[2017-12-18 08:34] sbrunk commented on #64
Unfortunately, the same error still occurs with the new artifacts.

[2017-12-18 08:38] mandar2812 commented on #64
I'm heading to work, will be able to try this out in an hour or two. I will
clean my coursier cache and give the new artifacts a try in CPU and GPU
mode.

On Mon 18 Dec, 2017, 9:34 AM Sören Brunk, <notifications@github.com> wrote:

[2017-12-18 11:57] mandar2812 commented on #64
@eaplatanios @sbrunk I can confirm on my end that the CPU version works well, while the GPU version still does _not work_. I get the same symbol not found error. I have tested the GPU using the packaged `tensorflow_2.11-0.1.0-SNAPSHOT-linux-gpu-x86_64.jar`  and locally compiled tensorflo.w

[2017-12-18 14:35] mandar2812 commented on #64
@eaplatanios This symbol `_ZN10tensorflow7strings8internal9CatPiecesESt16initializer_listINS_11StringPieceEE` seems to exist in the CPU only version of the native tensorflow lib (or its not required at all).

In the CUDA enabled native Tensorflow lib on the other hand this is not found. The real change here as far as I can tell is moving from CUDA 8 to CUDA 9.x series.

Is this issue also encounte

[2017-12-20 14:41] jS5t3r commented on #26
@eaplatanios where do I find  libtensorflow.so and libtensorflow_framework.so on my ubuntu?

[2017-12-20 19:33] sbrunk commented on #26
@jS5t3r Have a look at the [installation docs](http://platanios.org/tensorflow_scala/installation.html).

The easy way is to get the libraries is to download this jar ([cpu](https://oss.sonatype.org/service/local/repositories/snapshots/content/org/platanios/tensorflow_2.12/0.1.0-SNAPSHOT/tensorflow_2.12-0.1.0-SNAPSHOT-linux-cpu-x86_64.jar) / [gpu](https://oss.sonatype.org/service/local/repositorie

[2017-12-21 03:24] eaplatanios commented on #64
@sbrunk @mandar2812 Sorry I was traveling back home the last 3 days. So this is weird because right now I'm not even cross-compiling the GPU binaries myself. I'm rather using the precompiled TensorFlow ones. It may be a bug with TensorFlow native itself, but I will investigate a bit further and report back.

[2018-01-08 09:53] mandar2812 commented on #64
@eaplatanios @sbrunk : How about we pick up where we left off before the holidays? I can start by testing the latest tensorflow-scala_2.11 snapshot with packaged and self compiled tensorflow binaries on my GPU machine.

@eaplatanios Once you get a chance to update the 2.11 snapshots, give me the go ahead and I can begin.

Also, lets try to find out any matching issue reports/bugs filed on the tens

[2018-01-15 17:01] eaplatanios commented on #64
@mandar2812 That sounds good! Sorry for the delayed response but I just got back. I had a few flights cancelled. I'll look into this resolving this issue asap and updating the binaries.

[2018-01-15 17:46] lucaRadicalbit opened #70 "Error during update weight like a placeholder"
@eaplatanios I read that in Python TensorFlow is legal assign value to a weight in the same way that can be done to the placeholders:
`https://stackoverflow.com/a/43580452/9099269`

I'm trying to do the same with your ScalaAPI but I can not find the way, can I ask for your help ?
This is the line of scala code that I use to retrive the weight from the graph that I generate with the Python API:
`va

[2018-01-18 17:30] eaplatanios commented on #64
@mandar2812 I'm still waiting on a server upgrade by the CMU tech support that manages our servers and cannot test with CUDA 9 yet. I pinged them today so I hope this will be resolved soon and I'll be able to test and release new binaries.

[2018-01-22 06:25] eaplatanios commented on #64
@mandar2812 @sbrunk I just released new artifacts that have been compiled with CUDA 9 and CuDNN 7. Could you please check if you still have the same problem?

[2018-01-22 06:28] eaplatanios commented on #70
@lucaRadicalbit What happens if you use `val weights = session.graph.getOutputByName("foo_weights:0")` instead?

[2018-01-22 09:02] sbrunk commented on #64
Just cleared my Ivy cache and did a quick test. Unfortunately the error is still there. And now it also appears when running on the CPU, at least on Linux.

[2018-01-22 09:34] lucaRadicalbit commented on #70
@eaplatanios My apologize, I wrote wrong. By the way I already try both alternatives. To summarize, with the following code:
[code]
The error is:
[code]

With this code:
[code]
the error is:
[code]

[2018-01-22 09:39] mandar2812 commented on #64
I am also still facing the same issue on GPU. Although the CPU only code works fine on my laptop. @eaplatanios Are you able to run GPU code on your end?

[2018-01-22 14:19] mandar2812 commented on #64
@eaplatanios On Mac the CPU code works fine. On Linux x64, GPU and CPU codes give errors as @sbrunk described.

[2018-01-23 19:30] eaplatanios commented on #64
@mandar2812 @sbrunk Ok so I think it's fixed now. I also submitted [a PR](https://github.com/tensorflow/tensorflow/pull/16332) in the main TensorFlow repository. Sorry for the back and forth but it was not easy to find a way to reproduce (I had to use an older GCC version). Could you please test again so we can eventually close this issue? :)

[2018-01-23 22:20] sbrunk commented on #64
I wish I could report better news but I'm still getting the error using the new artifacts. :(

[2018-01-23 22:23] eaplatanios commented on #64
@sbrunk That's unfortunate! Could you please send me the error message you're receiving?

[2018-01-23 22:29] sbrunk commented on #64
[code]

[2018-01-23 22:36] eaplatanios commented on #64
@sbrunk I think the JAR files in your case might not have been updated. Are you sure the Ivy cache is cleared and the artifacts re-downloaded? If you're using the SBT coursier plugin could you temporarily disable it?

[2018-01-23 22:52] eaplatanios commented on #64
@sbrunk You could try using version 0.1.0 (without `-SNAPSHOT`) as I just made a full release to test my release pipeline. That should pull in the new artifacts.

[2018-01-23 22:52] sbrunk commented on #64
Disabled coursier, and checked that the Ivy cache was empty. It just downloaded the artifacts. Still no luck.

[2018-01-23 22:53] sbrunk commented on #64
@eaplatanios ok I'll try that now.

[2018-01-23 23:02] sbrunk commented on #64
Still the same error with the release artifacts.

[2018-01-23 23:04] sbrunk commented on #64
I have to go now but I can continue tomorrow If there's anything else I could try to help.

[2018-01-23 23:10] mandar2812 commented on #64
I am also still getting the same errors as @sbrunk. @eaplatanios: It would be helpful if you could confirm that you are able to run GPU code, then we can narrow down the problem to either of two possibilities:

1. Proper updated artifacts not being uploaded to Sonatype
2. Configuration issue in mine & @sbrunk's systems, coursier/ivy2, etc.

P.S I am still available to test any changes pushed in a

[2018-01-24 01:34] eaplatanios commented on #64
@sbrunk @mandar2812 I am able to run GPU code on my servers. The problem is hard to reproduce. I was able to do so by compiling my binaries with a different version of GCC. I'll try to reproduce again and update binaries on 0.1.1-SNAPSHOT. My PR was merged in the main TensorFlow repository, so after tonight the default binaries they distribute should also be fixed and I'll not be required to cross

[2018-01-24 02:37] eaplatanios commented on #64
@sbrunk @mandar2812 Sorry I actually figured out what happened. The issue has been fixed but I didn't update the published artifacts correctly. I'm releasing new ones very soon. I'll post here when done.

[2018-01-24 16:48] lucaRadicalbit opened #71 "Error when compile code from my forked repo"
I'm try to write some examples that I will push on my forked repo and that made a Pull Request but I can't compile your code. These are the step I follow:

1. git clone <my_forked_repo>
2. open intellij
3. import project with sbt 1.1.0

ERROR

[code]

Then I try to:

1. manually modify project/build.properties in order to set the sbt version to 1.0.4
2. import project inside intellij
3. modify bac

[2018-01-25 13:19] pawelpanasewicz opened #72 "proper releasing process"
The project lacks of versioning and releasing which brings a lot of problems when maintaining the codebase depending on it. Furthermore reporting issues can be tricky because there is no way to tell the version of code which caused the problem. Everything has `0.1.0-SNAPSHOT`.

At the moment only snapshot version are published to the OSS sonatype repository everytime overriding previous artifacts.

[2018-01-25 13:40] sbrunk commented on #72
Actually that has already changed. [0.1.0](https://github.com/eaplatanios/tensorflow_scala/releases/tag/v0.1.0) is released with non snapshot binaries on maven central now: https://search.maven.org/#search|ga|1|platanios

Beware that there's a bug #64 in 0.1.0 preventing it to work on Linux but 0.1.1 should be out soon.

[2018-01-25 13:40] pawelpanasewicz commented on #72
ohhh, I've just spotted that first release was just created 2 days ago. Well done! What version of tesnsorflow does it work with?

[2018-01-25 13:56] pawelpanasewicz commented on #72
There is a `val tensorFlowVersion = "1.5.0-rc1"` in `build.sbt` in [0.1.0](https://github.com/eaplatanios/tensorflow_scala/blob/v0.1.0/build.sbt#L27) release. Does it point to tensorflow version which this library was developed agains?

[2018-01-25 16:35] eaplatanios commented on #72
@pawelpanasewicz Yes that is right. I'm currently working on standardizing the release process and the continuous integration environment. It's quite tricky given that I want to provide pre-compiled binaries for different platforms and I need to setup an environment for cross-compiling the native code for all supported platforms. This should be ready soon though. :)

[2018-01-25 16:35] mandar2812 commented on #64
@eaplatanios: Perhaps you can also describe how you got your voicemail setup to work. Assuming I compiled tensorflow with cuda support from source. What gcc version and compiler flags would I need to reproduce your working setup, more or less. This might also help as a temporary workaround in case of future issues like this.

[2018-01-25 16:38] eaplatanios commented on #64
@mandar2812 If you compile both TensorFlow and my code with GCC 6.3 and provide the `-D_GLIBCXX_USE_CXX11_ABI=0` compiler flag, all should be good. :)

[2018-01-25 16:38] eaplatanios commented on #64
Generally, if you compile TF on your system things should work. The issue comes up with the pre-compiled binaries.

[2018-01-26 07:27] eaplatanios commented on #64
@sbrunk @mandar2812 Could you please check again with 0.1.1-SNAPSHOT?

[2018-01-26 07:49] sbrunk commented on #64
Works for me (CPU and GPU)! 😄

[2018-01-26 08:09] eaplatanios commented on #64
@sbrunk You cannot imagine how good that sentence just sounded :P Once @mandar2812 confirms it all works fine for him too I'll close this issue and release version 0.1.1.

[2018-01-26 08:37] eaplatanios commented on #72
Given that there is now a release process in place and that the cross-compiling bug seems to have been fixed in 0.1.1-SNAPSHOT (soon to be 0.1.1), I'll go ahead close this.

[2018-01-26 08:37] #72 closed

[2018-01-26 08:38] mandar2812 commented on #64
@eaplatanios I'm on my way to office, will try the new snapshot as soon as I get there!

[2018-01-26 08:39] eaplatanios commented on #41
@siddhartha-gadgil @mandar2812 @lucaRadicalbit This issue seems to have been fixed now and so I'll go ahead and close this. If it reappears, please use #64 to report it. Note also that a better continuous integration configuration is now set up that should help prevent similar issues in the future. The fixed version is 0.1.1-SNAPSHOT.

[2018-01-26 08:39] #41 closed

[2018-01-26 08:39] eaplatanios commented on #64
@mandar2812 Sounds good! Thanks a lot! :)

[2018-01-26 12:49] mandar2812 commented on #64
@eaplatanios I can verify that the GPU code works now with prebuilt TF binaries! I am not verifying CPU on linux as of now and will take @sbrunk's word for it! Lets close this!

[2018-01-26 12:49] #64 closed

[2018-01-28 21:22] sbrunk opened #73 "0.1.1 broken on OSX; ships Linux TensorFlow binaries"
I just tried to update to 0.1.1-SNAPSHOT on OSX, resulting in the following error:
[code]

So I took quick look at the binaries extracted from the jar, and they seem to be Linux binaries:
[code]
In fact, it seems both `darwin-cpu-x86_64.jar` and `linux-cpu-x86_64.jar` are identical.

0.1.0 works perfectly on OSX, so I guess there's some glitch in the new build process.

[2018-01-29 06:00] siddhartha-gadgil commented on #41
Thanks a lot. Just confirming that the basic example works fine now.

[2018-01-29 20:01] pawelpanasewicz opened #74 "NotFoundException undefined symbol: _ZN10tensorflow7strings8internal9CatPiecesESt16initializer_listINS_11StringPieceEE"
There is a problem when running hello world program using this library in version `0.1.0`.

**Details**

Tensorflow version: `1.4.1`

`lazy val tensorFlowVersion = "0.1.0"`
`"org.platanios" %% "tensorflow" % tensorFlowVersion classifier "linux-cpu-x86_64"`
`val scalaV = "2.11.11"`

[code]

**All logs**
[code]

[2018-01-29 20:02] pawelpanasewicz commented on #74
The problem does not occur in versions `0.1.0-SNAPSHOT` or `0.1.1-SNAPSHOT`.

[2018-01-29 20:17] sbrunk commented on #74
This bug has been fixed after the 0.1.0 release. See #64 for details. So you have use 0.1.1-SNAPSHOT for now until 0.1.1 is released.

[2018-01-29 20:31] #74 closed

[2018-01-31 06:14] eaplatanios commented on #73
@sbrunk This has been fixed in the last snapshot and I'll publish a 0.1.1 release tomorrow. :)

[2018-01-31 06:14] #73 closed

[2018-01-31 06:20] eaplatanios commented on #71
@lucaRadicalbit This is because the current source code only supports the current master branch of TensorFlow. You were probably trying to compile with an older version. I think that if you install the latest version of libtensorflow, the library might compile fine. Otherwise, you should try to compile libtensorflow from the TensorFlow master branch sources and everything will work fine.

[2018-01-31 06:20] #71 closed

[2018-01-31 10:36] sbrunk commented on #73
Awesome, works like a charm now with the 0.1.1 release. Thanks :)

[2018-01-31 17:41] lucaRadicalbit commented on #70
Sorry @eaplatanios, any updates ? I don't want to rush you, just this project is quite crucial for my academical work. If any help is appreciated I'm 100% available

[2018-01-31 18:45] eaplatanios commented on #70
@lucaRadicalbit Sorry for the delay but I was away and I was also trying to fix an issue with the precompiled binaries. So, regarding the first error you get: you cannot feed a tensor value to a variable tensor. You can use a placeholder if you want to feed values to it. Otherwise, you can create an assign op for your variable that assigns the value of a placeholder to the variable.

In the second

[2018-02-01 01:48] #32 closed

[2018-02-01 02:07] eaplatanios commented on #17
@debasish83 This could be useful and if you're willing to work on it I'd be happy to help (regarding the headers).

Regarding the `ccgradients` function call: I think it'll take a long time until that API supports gradients for arbitrary ops that I use in my code. Currently my implementation is much more generic and supports most of the ops I expose through my API, including control flow ops. If t

[2018-02-05 16:13] lucaRadicalbit opened #75 "Error during restore graph in multi-thread environment"
I fail to restore the TensorFlow graph in a multi-threading application. I have more the one thread running and I need to restore a different session for each thread, but I can not pass the Saver from the outside so every thread need to call `tf.Saver.fromMetaGraphDef(mgf)`

Here an example code that simulate my situation:
[code]

Here the error:
[code]

I don't get if I am doing something wrong o

[2018-02-05 16:16] mandar2812 commented on #75
About the multi-threaded context, I don't know enough to comment. But this could be similar with an issue I filed some time back (#56)

[2018-02-05 16:41] lucaRadicalbit commented on #75
@mandar2812 It seem that using `tf.createWith(graph = Graph()){...} ` fix the problem. Now I try to do some more tests before confirming that my problem is completely gone. In the meanwhile thank you !!

[2018-02-05 16:49] eaplatanios commented on #75
@lucaRadicalbit @mandar2812 Thanks for suggesting that Mandar! I was going to suggest the same thing. :)

[2018-02-05 16:49] #75 closed

[2018-02-05 19:51] mandar2812 commented on #75
@lucaRadicalbit @eaplatanios Happy to help 😊

[2018-02-08 22:41] eaplatanios commented on #70
@lucaRadicalbit Did you manage to finally resolve this issue?

[2018-02-09 10:52] rikvdkleij opened #76 "Exception: java.lang.VerifyError: Bad return type"
I'm running the MNIST example and getting this error:
[code]

I have installed protobuffer 3.5:
[code]

Using 0.1.2-snapshot version and OSX.

Any idea how I can solve this?

[2018-02-09 13:38] rikvdkleij commented on #76
Solved it by building tensorflow from sources and putting the shared libraries in LD_LIBRARY_PATH.  Is this problem caused by different/incompatible protobuffer versions?

[2018-02-09 17:41] eaplatanios commented on #76
@rikvdkleij I haven't seen this error before. Could you please send me your `build.sbt` file and the minimal Scala file that causes this? Thanks! :)

[2018-02-10 20:27] rikvdkleij commented on #76
I had this issue in a large project with a lot of dependencies. A simple project with no other dependencies just works, so I suspect this problem is caused by multiple protobuf libraries on the classpath.

[2018-02-12 12:56] rikvdkleij commented on #76
Okay, the problem is caused by the BigDL library but I do not understand why... When I remove this dependency it works.

[2018-02-12 16:12] eaplatanios commented on #76
@rikvdkleij Thanks for digging into this! I assume that BigDL is pulling in some other version of protobuf as you say. It may be that one of its dependencies is pulling a difference version of `org.tensorflow.proto`. I'm not sure. When you include the BigDL dependency, what is there version of the protobuf library that it pulls?

[2018-02-12 16:19] rikvdkleij commented on #76
@eaplatanios  BigDL does not depends on `org.tensorflow.proto`. I also see only version, `1.5.0`.

[2018-02-12 17:52] eaplatanios commented on #76
@rikvdkleij What about `com.google.protobuf` which `org.tensorflow.proto` depends on?

[2018-02-12 19:08] rikvdkleij commented on #76
That is the `protobuf` library I already mentioned. When I make sure there is only one version in the dependency tree, the problem still occurs.

[2018-02-13 11:41] rikvdkleij commented on #76
Found the cause, BigDL has shaded the `protobuf` library.

[2018-02-13 11:41] #76 closed

[2018-02-13 14:48] rikvdkleij opened #78 "createWithNameScope does not work"
Exception:
[code]
when I use this:
[code]

[2018-02-13 15:16] eaplatanios commented on #76
@rikvdkleij Thanks a lot for digging into this! How do you resolve the issue in this case? Do you add a separate explicit dependency on the `protobuf` library?

[2018-02-13 15:18] eaplatanios commented on #78
@rikvdkleij That is actually not a problem. It has to do with the semantics of name scopes and variable scopes. [Check this out](https://www.tensorflow.org/programmers_guide/variables#sharing_variables) for a detailed description. I've been meaning to add information in my documentation but haven't gotten to doing to yet. Does using a variable scope resolve your problem?

[2018-02-13 15:27] rikvdkleij commented on #76
No, I did not solve this problem. I only found the cause.  I will leave it for later when I'm know for sure I want to use those 2 libraries in one project. I think the only solution is to fork/clone the BigDL project and rebuild it without `protobuf`.

That does not help.

[2018-02-13 15:38] rikvdkleij commented on #78
So I understand I have to use `createWithVariableScope` but I can not set the right `reuse` value. They will all use existing variables.  Also setting no `reuse` value does not work.

It looks like Scala API is working differently than Python API. The above code is working in Python version.

[2018-02-13 15:47] rikvdkleij commented on #78
Btw, are you planning to add more optimizers, like RMSPropOptimizer?

[2018-02-13 17:00] rikvdkleij opened #79 "Integration with Tensorboard"
How can I integrate with Tensorboard when I do not have a layer, so I can not create a model to create an estimator?

My code has a similar structure as the `LinearRegression` example.

[2018-02-14 06:37] eaplatanios commented on #78
I'm sorry about that. It turns out it was a bug. I fixed it and I'm currently releasing new snapshot artifacts (they should be available pretty soon). The following code now works fine:

[code]

Regarding RMS prop and other optimizers, I only plan to add them on a need basis for my research at this point. It's very easy to add the ones you need yourself and submit a pull request by the way. You ca

[2018-02-14 06:37] #78 closed

[2018-02-14 06:41] eaplatanios commented on #79
You can always use summary ops as you would with the Python API, along with summary writers and then manually launch TensorBoard from the relevant log directory. Otherwise, you can extend the `Layer` class yourself (all you need to implement is the `forward` method which should look pretty much like your current code, just placed inside that method) and train it using an estimator. Does that help?

[2018-02-14 08:42] eaplatanios commented on #76
@rikvdkleij I just looked into this and I believe that we can't really do much about this in our side. jIt's weird they use the same package names for `org.tensorflow.framework` even though they don't keep them updated (theirs are now 9 months old). I'm wondering if there is way to specify priorities in the dependencies in SBT so that our dependency overrides their classes. I'm phrasing this a bit

[2018-02-14 08:59] rikvdkleij commented on #79
Thanks! I will try but it would be nice if you would have an example for the `LinearRegression` example.

[2018-02-14 09:00] rikvdkleij commented on #78
Thanks!!

[2018-02-14 09:03] rikvdkleij commented on #76
The only "solution" I saw was to do something like which is described here:
https://stackoverflow.com/questions/7819066/sbt-exclude-class-from-jar

[2018-02-14 10:09] rikvdkleij commented on #79
The Python API for `run` works differently. When I pass a `summary_op` I would expect a `Summary` back. In Scala API run returns `Seq[Tensor]`

[2018-02-14 10:36] rikvdkleij opened #80 "Saving result"
According to the documentation of `Saver` I can do:
[code]

but that does not compile. Only this compiles:
[code]
but I can not call `save` on this saver.

[2018-02-14 12:31] rikvdkleij commented on #80
Okay, I found out this it is:
[code]

[2018-02-14 16:06] eaplatanios commented on #79
In both the Python and Scala APIs, if for example you call `Session.run` on a single scalar summary op, you should get a `Tensor` back, containing a single string, which is a `Summary` Protobuf message. Could you please share a minimal Python and Scala example where they work differently? There may be a bug and that would help me find it. Thanks!

[2018-02-14 16:06] eaplatanios commented on #80
I might modify the API a bit eventually to make this smoother. Should I close this issue for now since your problem was resolved?

[2018-02-14 16:32] rikvdkleij commented on #80
Yes, issue can be closed. You could fix the scaladoc in `org.platanios.tensorflow.api.ops.variables.Saver`.

[2018-02-14 16:32] #80 closed

[2018-02-14 16:38] rikvdkleij commented on #79
I could not got it working. Also some other problem in exporting the trained model result. So I decided to rewrite the autoencoder in which a can use a model and estimator.  But of course I ran into problems :-), first creating a module expected it's supervised. I try to workaround that by zipping the dataset. But now I run into problem with the `sequenceLoss`:
[code]

In both the Python and Scala

[2018-02-14 17:54] eaplatanios commented on #79
@rikvdkleij Regarding the second part of your answer which relates to this issue, you have to extract the summary protobuf string from the returned tensor object, like this:

[code]

In general, to get a better idea of how those classes are supposed to be used, you can look into the implementation of the estimators and the summary writer hook, in my library.

In Python you don't need to do anythin

[2018-02-14 17:58] eaplatanios commented on #78
No problem! Thanks for giving this a try and reporting things that come up! It really helps me a lot with fixing bugs and improving the library. :)

[2018-02-14 19:56] rikvdkleij commented on #79
If you go to here https://github.com/eaplatanios/tensorflow_scala/blob/c07d2b810c87a26eb60611363e026c78d58b690b/api/src/main/scala/org/platanios/tensorflow/api/learn/Model.scala#L57
you see that each `apply` creates supervised model.

Tomorrow I will paste some code.

[2018-02-15 09:30] rikvdkleij commented on #79
About the original issue, this is the code I currently have for the implementation without model:
[code]
It does write the graph but not the loss for every interation. Any idea?
Btw, I hope you can find better solution in Scala for this :-):
[code]

[2018-02-15 09:49] rikvdkleij commented on #79
Code to create Autoencoder with model:
https://gist.github.com/rikvdkleij/1bb0a3ec1365fa2868952716f4df3b70

Currently it gives this exception:
[code]

I think it has something  to with workaround of going from Unsupervised to Supervised model.

Thank you very much for helping!

[2018-02-15 16:36] eaplatanios commented on #79
@rikvdkleij I just added a constructor for unsupervised models that I had forgotten (I'm sorry about that) and modified the model API a bit. I'm uploading artifacts now. The learn API is still very much work-in-progress and I improve it based on use cases I encounter. Let me know if you have any feedback on what could be done better and make your life easier. :)

Regarding the `s.scalar.asInstance

[2018-02-15 16:51] rikvdkleij commented on #79
Yes, that helps! I'm now running in next problem :-)

No, that does not help.

[2018-02-15 16:55] eaplatanios commented on #79
@rikvdkleij so what does the summaries directly contain if you remove the`writeGraph` line?

[2018-02-15 16:56] rikvdkleij commented on #79
Just a spike at 0.

[2018-02-15 17:01] eaplatanios commented on #79
Oh I see. `writeSummaryString` takes the step for that summary as a second argument. You should add `i` as the second argument in that method call. :)

[2018-02-15 17:04] rikvdkleij commented on #79
Yes, that works! Thanks! A default value of 0 is tricky :-)

[2018-02-15 17:06] eaplatanios commented on #79
No problem! And yeah good point. I’ll remove those default values. :)

[2018-02-15 17:06] #79 closed

[2018-02-16 10:15] rikvdkleij opened #81 "Questions"
How do I run the initializer of a variable (just like in Python API)?
After assigning a tensor to a variable, do I have to evaluate the result (just like in Python API)? Is
[code]
sufficient?
In Python API:
[code]
Okay, found already the answer for this question. It is:
[code]

[2018-02-16 10:29] rikvdkleij commented on #81
Other question: When do I have to call `evaluate`? Is that only to for example to print the current value of `Output` or variabele?

[2018-02-16 12:05] rikvdkleij commented on #81
Yet another question, but important question. How do I write only the  graph to disk like in Python in this way?
[code]
I only see a way to write graph as part of event file, in this way:
[code]

[2018-02-16 13:37] rikvdkleij commented on #81
Solved it by:
[code]

Do not see other solution.

[2018-02-16 13:37] #81 closed

[2018-02-17 13:56] mandar2812 opened #82 "Extension to Estimator API: Output shape different from prediction shape"
I am experimenting with some self implemented loss functions like [`RBFWeightedSWLoss`](https://github.com/transcendent-ai-labs/PlasmaML/blob/master/helios/src/main/scala-2.11/io/github/mandar2812/PlasmaML/helios/core/RBFWeightedSWLoss.scala).

## Problem Definition

The key idea behind these loss functions is that the shape of the output prediction might not match the shape of the output labels.

[2018-02-19 15:29] eaplatanios commented on #82
@mandar2812 No worries! :) I think the issue lies with your `trainInput`. The dataset you're loading seems to load tensors of shape `[-1, 72]` as the labels for supervision, where you define your train input as:

[code]

Try changing that to the following and see if the inputs to the model work:

[code]

I hope this helps. :)

[2018-02-19 15:30] eaplatanios commented on #70
@lucaRadicalbit Given that there's been no response in a while, I'll assume this is resolved and close it. Please reopen if the issue persists. :)

[2018-02-19 15:30] #70 closed

[2018-02-19 16:26] mandar2812 opened #83 "Dropout Operation erroring"
Its possible that sometime after commit e0691f8e2aed5f796d642a04922e59c3f857f5af the dropout layer stopped working (tested so far on gpu).

[code]

[2018-02-19 16:39] mandar2812 commented on #82
@eaplatanios Its working now. Thanks a lot!

[2018-02-19 16:39] #82 closed

[2018-02-19 20:09] eaplatanios commented on #83
@mandar2812 Did you notice that the arguments to that class constructor changed? `scaleOutput` was added and I think you may not be accounting for that change where you call the constructor.

[2018-02-19 21:24] mandar2812 commented on #83
@eaplatanios I think this error is happening because of difference in binary version of tensorflow-scala used in my code versus the version which was used to compile DynaML. Closing this issue for now.

[2018-02-19 21:24] #83 closed

[2018-02-20 10:28] lucaRadicalbit commented on #70
@eaplatanios I'm so sorry, I just notice that you answered me.
At the moment I'm using the assign OP in order to do the weight update. For now the solutions works, if I'll come back to that I'll let you know.

[2018-02-22 11:45] mandar2812 opened #84 "Support for QR, Cholesky and Linear Solve"
The tensorflow API current supports QR, Cholesky and solving of Linear systems, it would be nice if there was a handle for them in the scala API as well.

[2018-02-28 06:15] JeyanthVictory opened #85 "Unsatisfied Link Error- While running Tensorflow"
I've downloaded .jar file for tensorflow and added that jar file to the class path. While running the program,it shows **Unsatisfied Link Error** exception.
It shows like this
`Exception in thread "main" java.lang.UnsatisfiedLinkError: Cannot find TensorFlow native library for OS: windows, architecture: x86_64. See https://github.com/tensorflow/tensorflow/tree/master/tensorflow/java/README.md for

[2018-02-28 15:53] sbrunk commented on #85
I'm not completely sure if I'm up to date but I think Windows is not supported yet. At least there's no jar containing the TensorFlow native library for windows available (even on another platform you'd need to use the jar matching your system i.e. `tensorflow_2.11-0.1.1-linux-cpu-x86_64.jar`).

Perhaps you could try building the TensorFlow native library from source on Windows and see if that wor

[2018-02-28 17:20] eaplatanios commented on #85
@JeyanthVictory Yes, @sbrunk is right. Windows is not supported yet. They only way to use this library in Windows would be for you to try and compile the TensorFlow native library yourself, separately. I'll close this issue for now, but I can reopen if you have more questions.

[2018-02-28 17:20] #85 closed

[2018-03-02 12:49] mandar2812 opened #86 "Exposing the Tensorflow auto-differentiation functionality in Tensorflow scala"
As of now, is it possible to compute gradients of a computation with respect to some tensorflow variable/placeholder using the tensorflow_scala API. If not, this would be a potentially powerful feature which gives access to a crucial component of the Tensorflow API.

[2018-03-02 17:50] eaplatanios commented on #86
@mandar2812 Actually the auto-differentiation support in the C API is currently very limited. The Scala API has entirely its own implementation. It’s already exposed through `tf.gradients`. :)

[2018-03-02 17:50] #86 closed

[2018-03-02 18:44] mandar2812 commented on #86
@eaplatanios Super! Then pardon my ignorance!

[2018-03-02 20:16] eaplatanios commented on #86
@mandar2812 To be honest, that's on me. An overview of the library architecture and some tutorials on the website are long overdue, but I've been busy with a research projected haven't gotten to it yet. On the bright side though, the research project is in machine translation and I'll soon be releasing a fully-fledged machine translation package in Scala, using the TensorFlow for Scala API. :)

[2018-03-05 14:15] lucaRadicalbit opened #87 "Memory Leak when create Tensor for a training session"
@eaplatanios Here the gist that contains the code I used to reproduce the memory leak:
https://gist.github.com/lucaRadicalbit/e45d895b859797f010d856ac8aa22a13

Basically I create two tensor and inside an infinite loop and then I run the session using that tensors as feeds. Using VisualVM after 8000 iterations (about 6 minutes) the situation was:

![sampler](https://user-images.githubusercontent.co

[2018-03-07 17:57] mandar2812 opened #88 "Regularization in Tensorflow Scala models"
This is a bit of an open ended question, but from a practitioners perspective an important one I guess. How do I access/find out the regularization function being used in my model's learning process? I can see from the tensorflow_scala examples that the loss function can be explicitly specified and custom loss functions can be implemented, but how do we do the same for tweaking or extending regula

[2018-03-09 10:29] lucaRadicalbit opened #89 "Class Tensor is not Serializable"
[code]

This is the signature of the Tensor class. Unfortunately for my application I need that Tensor extend also Serializable. Any chance that you can add that interface to you class ?

[2018-03-09 16:30] eaplatanios commented on #84
@mandar2812 Yeah it would indeed be good to support those. My API currently allows you to easily add support for them. For example, you can see how math ops are supported [here](https://github.com/eaplatanios/tensorflow_scala/blob/master/api/src/main/scala/org/platanios/tensorflow/api/ops/Math.scala) and the equivalent Python code is [here](https://github.com/tensorflow/tensorflow/blob/master/tens

[2018-03-09 16:31] eaplatanios commented on #87
@lucaRadicalbit Thanks for finding out about this and profiling it. I'll look into it this weekend. It does seem like an important issue. :)

[2018-03-09 16:34] eaplatanios commented on #88
@mandar2812 The learn API does not currently have an explicit notion of a regularization function. We could add support for that if we think it's important to distinguish, but I believe that being able to define arbitrary loss functions (which you can do currently) and having easy access to the model variables (which you can currently sort of do, but we can look into making it easier), let's you c

[2018-03-09 16:35] eaplatanios commented on #89
@lucaRadicalbit I'll do that this weekend. It's actually an omission. I plan to make `ProtoSerializable` extend `Serializable`. :)

[2018-03-12 15:58] mandar2812 commented on #88
@eaplatanios I was going through the code-base and saw that you already have `org.platanios.tensorflow.api.ops.variables.Regularizer`, which is also an input to `tf.variable()`.

So I have extended it with [`L2Regularizer`](https://github.com/transcendent-ai-labs/DynaML/blob/master/dynaml-core/src/main/scala-2.11/io/github/mandar2812/dynaml/tensorflow/layers/L2Regularizer.scala) and [`L1Regularize

[2018-03-12 17:26] eaplatanios commented on #88
@mandar2812 That raises an issue. I don't think these regularizers are being applied currently. I had some concerns about what's the right way to go about it and never got to it. I can make some edits to support them but my concern is that they can only be used from within the learn API (that's the only place where the library gets to build and manage a loss function). This means that they should

[2018-03-12 19:01] mandar2812 commented on #88
Sounds good!

[2018-03-14 22:29] MrVPlusOne opened #90 "Extracting native libraries each time JVM starts"
Hi, I'm new to Tensorflow-scala. I noticed that every time I run my code, the library extracts native libraries to a temporary directory. Is there a way to prevent this extracting and copying from happening?  I managed to reuse 'libtensorflow.so' and 'libtensorflow_framework.so' by setting the environment variable 'LD_LIBRARY_PATH', but I couldn't figure out how to do this for 'libtensorflow_jni.s

[2018-03-15 16:45] mandar2812 commented on #88
@eaplatanios I guess no matter which package holds the code to build the ops for regularizers, as long as one can specify the desired regularizer instance at the point of layer/network construction, it is fine from the usability point of view. And if we want to keep code expressing construction of layers/networks succinct (from an end user perspective), we can have sensible defaults in places like

[2018-03-16 07:05] #87 closed

[2018-03-16 13:43] lucaRadicalbit commented on #87
@eaplatanios
I saw the changes inside the commit. I re-try with the example also present in the gist but I sill have this memory leak. Do I need to make some call to some particular method of the Tensor or Session class in order to manually free the memory ?

[2018-03-16 15:57] eaplatanios commented on #87
@lucaRadicalbit Actually, now you shouldn't be needing to call anything. Did you try clearing your Ivy cache so SBT pulls in the updated artifacts? That should be located somewhere like `~/.iv2/cache/org.platanios`.

[2018-03-16 16:01] mandar2812 commented on #88
@eaplatanios As a temporary workaround and an alternate idea, I have implemented L2 Regularization as follows.

[code]

So when using it in code it takes the form.

[code]

If we want a more transparent API in terms of the user specifying it as a part of the loss function, I think it can take a form similar to this, what do you think?

[2018-03-16 17:05] eaplatanios commented on #88
@mandar2812 The main reason I don't like this is because the "wiring" to the model parameters is done through their names. Names are generally automatically generated and may differ than what the user thinks. Therefore, this is very bug prone. I was leaning more towards an easy way to obtain a reference to a layers' parameters (before it's instantiated) and define the regularizers in terms of that

[2018-03-16 17:06] eaplatanios commented on #88
I'm sorry I've been focusing on updates to support TensorFlow 1.7.0 and sort out some bugs. I'll work on a solution for this right after. Thanks for the suggestions though. It really helps hearing your opinion on design choices. :)

[2018-03-19 07:13] eaplatanios commented on #87
@lucaRadicalbit Could you please confirm that the memory leak was resolved? :)

[2018-03-19 09:23] lucaRadicalbit commented on #87
@eaplatanios Sorry I was off for 3 days. I do immediately the test

[2018-03-19 09:37] lucaRadicalbit commented on #87
@eaplatanios
https://gist.github.com/lucaRadicalbit/e45d895b859797f010d856ac8aa22a13
I just run the example that I wrote in the comment of the gist page without using the close() method and after 15000 iteration of the while loop the situation was:

![screen shot 2018-03-19 at 10 33 10](https://user-images.githubusercontent.com/32895300/37587916-f3f347a6-2b60-11e8-949c-b98d8379e13f.png)

![screen

[2018-03-19 10:15] LorenzBuehmann commented on #64
Latest version 0.1.2-SNAPSHOT leads to the following error when running MNIST example:

[code]

Maven deps:
[code]

It also happens when I use the compiled Tensorflow lib built from source and add it via `LD_LIBRARY_PATH` param.

I can see that the flag was added to Tensorflow [13 days ago](https://github.com/tensorflow/tensorflow/commit/1d64f9038084095bf92a8ca120d7e1f34ec24ac9), thus, it might be

[2018-03-20 14:48] eaplatanios commented on #90
@MrVPlusOne It's true those libraries are extracted every time and that's because they're package in the distributed JAR file. It's only a few KBs in size and so should not contribute a performance penalty. Are you experiencing a significant slow down due to the extraction?

[2018-03-20 14:50] MrVPlusOne commented on #90
No, I didn't experience any significant slowdown. It's just a little annoying that each time the library has to do this. Nevermind then.

[2018-03-20 15:20] eaplatanios commented on #90
I could change the logging level to debug for the messages. Would that be better?

[2018-03-20 15:24] MrVPlusOne commented on #90
I guess so?

[2018-03-20 19:18] eaplatanios commented on #90
Done! :)

[2018-03-20 19:18] #90 closed

[2018-03-20 19:44] eaplatanios commented on #89
@lucaRadicalbit In what context are you using tensors that requires them to extend `Serializable`?

[2018-03-20 19:44] eaplatanios commented on #87
@lucaRadicalbit This happens are you clean the Ivy cache and reload the artifacts? I'm getting very different behavior.

[2018-03-21 09:25] lucaRadicalbit commented on #87
@eaplatanios Yes, I cleaned all the .ivy/ folder. I make another try this morning and I let you know. Can you think another reason other than the cache that can be the problem ?

[2018-03-21 09:31] lucaRadicalbit commented on #89
@eaplatanios Because we are using a distributed system that need to send the tensors along the cluster and the tensors need to be serializable. I don't know why during the last few days the problem I had regarding the lack of the Serializable interface is gone. So if it's a problem for you API you can avoid to put that interface on your class for the moment. If I have the same problem in the futur

[2018-03-21 10:47] lucaRadicalbit commented on #87
@eaplatanios I found the problem, I didn't update the version. Now I try and I let you know the results

[2018-03-21 13:11] lucaRadicalbit commented on #87
Using the version 0.1.2-SNAPSHOT the memory leak on the example I wrote on the gist is gone but when I run my application I got this error.

[code]

[2018-03-21 14:53] lucaRadicalbit opened #91 "Errors with 0.1.2-SNAPSHOT version during runtime and when publishing in local cache (Referring to #87)"
This morning I download the 0.1.2-SNAPSHOT version and now when I running my application during the restoring of the Tensor Flow graph (fromMetaGraphDef method)  I get this error:

[code]

Then I try to clone the repo and run `sbt publishLocal`  in order to publish the tensorflow_scala project at the commit `7912d779` to make some investigation about the problem above but I got that error:

[code]

[2018-03-21 15:04] eaplatanios commented on #89
@lucaRadicalbit It's not a problem per se, but I was wondering what serialization framework you're using. I thought that Protobuf serialization support should be ok and you can explicitly provide the serializer and deserializer methods to the framework. I'm not sure what's the best way to implement the `Serializable` interface. It could be done using Protobuf, but for your use case, it might be be

[2018-03-21 15:19] lucaRadicalbit commented on #91
@eaplatanios Ok, so just for to be sure, I can not anymore relies on the pre-compile binaries that you offer but I have to compile the binaries by my self, right ?
Anyway thank you for the quickly response :)

[2018-03-21 21:50] eaplatanios commented on #91
@lucaRadicalbit I'm waiting for the official 1.7.0 release and I'll then update the precompiled binaries too (I might even do so earlier if I find some time). :)

Let me know if all works fine for you when you compile the binaries yourself.

And no worries! I'm glad you're using this library and report bugs. :)

[2018-03-22 14:21] lucaRadicalbit commented on #91
@eaplatanios Thank you for your patient :)
Now I try to:

1. Clean all the .ivy/cache and .ivy/local folders
2. Download your repo in order to publishLocal your project
3. Modify the version name of your project
4. Modify the namespace of your project
5. sbt +publishLocal
6. Going to my project and update the line that describe the dependencies in order to refer to the local publish I done above (

[2018-03-26 00:12] eaplatanios commented on #65
@lucaRadicalbit Is this still an issue?

[2018-03-26 00:41] eaplatanios commented on #91
@lucaRadicalbit This should be fixed in 45c861682907d536670a2e77a534528485ba1573. Please reopen this issue if it persists. :)

[2018-03-26 00:41] #91 closed

[2018-03-26 09:14] lucaRadicalbit commented on #65
@eaplatanios I don't know because I drop that approach and follow a new one. I don't know when but when I'll have time I'll make a try and I let you know.

[2018-03-30 16:49] eaplatanios commented on #89
@lucaRadicalbit Let me know if you have any updates on this, otherwise I'll go ahead and close it for now.

[2018-04-04 18:37] strelec opened #92 "The low-level tensorflow API is very incomplete, e.g. missing tf.where and tf.layer."
Thanks for making the effort of writing this library.

I feel that because so many features are missing, it would be useful to keep the namespaces for the low-level library same as python, so people can easily see what is supported and what is not.

[2018-04-04 18:46] eaplatanios commented on #92
No problem! I hope you find it useful! I don't think there are so many features that are missing. I have re-structured some parts because I felt I didn't like the way some things are organized in the Python API, but you should still be able to find most features.

Regarding `tf.where` and `tf.layer` that you asked for:

- `tf.where` is defined [here](https://github.com/eaplatanios/tensorflow_scala

[2018-04-04 19:12] strelec commented on #92
Thanks, I am still thinking whether I should start with your library or with the Python one.

Oh, so you mean low and high level api are compatible. I was getting an error that Tensor and Composable[Output, Output, Output] are not compatible. And .tensor or .toTensor did not work.

And I was also not able to find RMSProp optimizer.

[2018-04-04 21:07] strelec opened #93 "CUDA 9.1 support."
Cuda 9.1 has been out for a few months now.

/lib64/libcublas.so.9.0: version `libcublas.so.9.0' not found

Could we depend just on /lib64/libcublas.so.9, that is, without the minor number, to be future-proof?

[2018-04-04 23:43] eaplatanios commented on #93
For this I’ve followed the same approach that the Python API follows and released precompiled binaries for CUDA 9. Are there no API changes between 9 and 9.1? If there aren’t any, then why does the official TensorFlow API also release for 9 only? I’m just wondering because I’m not familiar and don’t want to risk it. Otherwise, your suggestion totally makes sense and I’d be willing to make the chan

[2018-04-05 04:26] #89 closed

[2018-04-06 05:27] eaplatanios commented on #92
@strelec Sorry I just realized this last line should have been just:
[code]

[2018-04-09 16:07] eaplatanios commented on #92
@strelec I added support for RMSProp in 75584ed801f86458ea88ae1d6113f8a12f766e29. It is included in release 0.2.0-SNAPSHOT.

I'll go ahead and close this issue in this case. Please feel free to reopen if you feel there is still something missing, or if you can still not instantiate a session and I'll be happy to help. :)

[2018-04-09 16:07] #92 closed

[2018-04-09 16:11] eaplatanios commented on #93
@strelec I'll close this given that I'm just using the official pre-compiled binaries now. Please let me know if you have an idea for how to more easily support multiple versions of CUDA. I don't really know what compatibility guarantees CUDA minor versions provide so I'm not sure if the original solution you propose would work. Feel free to comment if you have more information. :)

[2018-04-09 16:11] #93 closed

[2018-04-09 20:25] tmm2018 opened #94 "adding bindings to scala collider"
it would be really nice, to bind this with:
- https://github.com/Sciss/ScalaCollider

[2018-04-09 21:04] eaplatanios commented on #94
@tmm2018 I'd be happy to help someone with this, but unfortunately, I won't be able to work on it myself, as I'm not familiar with ScalaCollider at all and I don't really have any free time to invest in this.

[2018-04-13 11:10] tmm2018 commented on #94
that sounds reasonable. we can't do everything that pops up to our minds. sometimes. doing small things, but really investing on them, and making them as well as we can, is the best thing we can do.

[2018-04-20 15:17] lucaRadicalbit opened #97 "Insert regression with commit 8051664, can not restore anymore a graph from protobuf"
In the commit [8051664](https://github.com/eaplatanios/tensorflow_scala/commit/805166420a46be534244e9fe43cd4a1777c8f07b#diff-27b966693fad665d3134d035ccb9c928) I see that in the `fromProto` method the `graphElement` is taken adding the `handle.op.name` to the `/Read/ReadVariable:0` String. But restoring the graph the name in the protobuf is:
[code]

So I wondering if the `/Read/ReadVariable:0` Stri

[2018-04-20 16:16] eaplatanios commented on #97
@lucaRadicalbit Does that refer to a graph saved with a previous version of the API or one both saved and restored with the current master?

[2018-04-21 13:04] lucaRadicalbit commented on #97
@eaplatanios No, I saved the graph with the Python API and then restored the graph the `0.2.0-SNAPSHOT`version. Il the first time I have this problem, with the other version was everything ok.

[2018-04-23 00:35] eaplatanios commented on #97
@lucaRadicalbit Ok. Let me look into this. It's just a matter of changing the default name of the read op.

[2018-04-23 00:39] #97 closed

[2018-04-23 00:39] eaplatanios commented on #97
@lucaRadicalbit Could you please confirm that this has now been fixed? Thanks!

[2018-04-23 08:33] lucaRadicalbit commented on #97
@eaplatanios I can not investigate further today but just to get you an answer the previous error is gone but now when I run my app I get:
[code]

In the next days I'll try to take a deeply look.

[2018-04-23 11:06] lucaRadicalbit commented on #97
At the moment I don't know why but in my project I still have your code without the bug fix done in the commit a084e85. I also try to clean the cache and reload everything.

[2018-04-23 16:58] eaplatanios commented on #94
I'll close this for now because I feel it won't be tackled any time soon, but I will add an extension label so people can access it easily (I plan to add contribution guidelines soon and "extensions" in that sense will be mentioned there so people can take them on if they want to).

[2018-04-23 16:58] #94 closed

[2018-04-26 09:19] lucataglia opened #99 "Cannot find graph collection key named 'variables'"
During the operation of restoring the graph the tf.createWith(graph = Graph()) fail because inside Graph.scala at the line 669 in the foreach he try to restore `variables` but Graph.Keys contains only `UNBOUND_INPUTS`.

I found out also that if I did the init of the session before the parse of the meta graph it works:
This works
[code]

This doesn't
[code]

Is it possible that is something about h

[2018-04-28 03:12] eaplatanios opened #102 "Revamping the Learn API"
This is a place to discuss issues with the current design of the learn API and ways to improve it, so that we can have a new implementation ready (hopefully) by the end of May.

The main issues I see currently are:
- The `Model` class feels quite awkward to newcomers. Is there a nicer way to define models, while being flexible?
- There are some issues with `Layer`s. Implementing a new layer adds a

[2018-04-29 12:40] sbrunk commented on #102
I have only created a few relatively simple sequential CNNs for image classification so far, so I think I can only comment on the first point about the ```Model``` class and even there I've only used one variant.

When I tried it the first time, I was a bit confused by the Model constructor parameters, especially ```trainInput``` ```trainInputLayer```. It took a bit until I had realized that they

[2018-05-02 19:31] ryanmickler commented on #42
any progress on this? i'd be willing to help.

[2018-05-02 23:36] eaplatanios commented on #42
I haven’t heard anything from @mazorigal and so I think there is no progress yet. I’d be more than happy to support if you want to take this on @ryanmickler. :)

[2018-05-07 17:54] amanda321 opened #103 "Repost tensorflow_2.10 snapshot?"
I place the following line in my build.sbt file, as specified by your installationinstructions:
`libraryDependencies += "org.platanios" %% "tensorflow" % "0.1.0-SNAPSHOT"`

I get the following error:
[code]

When I look at https://oss.sonatype.org/content/repositories/snapshots/org/platanios/, I only see snapshots for Scala 2.11, 2.12.  Indeed, if I change the line in my build.sbt file to:
`librar

[2018-05-12 11:09] sbrunk opened #105 "Filter logs coming from TensorFlow"
When running on GPU, I get annoying error messages in the log. There doesn't seem to be a real problem though.

```[error] 2018-05-12 12:50:56.575522: E tensorflow/core/grappler/clusters/utils.cc:127] Not found: TF GPU device with id 0 was not registered```

I tried to filter that using logback filters, but the filters are ignored for these messages. They work only for my own log messages for some

[2018-05-12 17:50] eaplatanios commented on #105
Yeah I have noticed those and talked to some TensorFlow people about them. The only reason to filter them is to set the `TF_CPP_MIN_LOG_LEVEL` environment variable:

- `0`:  Debug level (default).
- `1`: Warning level.
- `2`: Error level.
- `3`: Fatal level.

[2018-05-12 17:50] #105 closed

[2018-05-12 17:51] eaplatanios commented on #103
@amanda321 I think that the current version does not compile for 2.10 anymore, but I'll check today. Why do you need 2.10 specifically and cannot work with 2.11 or 2.12?

[2018-05-16 15:38] amanda321 commented on #103
A bit of a SBT rookie, but SBT was complaining that there were incompatible Scala versions used between different packages. And it looked like most of the other packages were using Scala 2.10.

But no worries on checking. I found an alternative solution that doesn't require tensorflow-scala!

[2018-05-16 17:27] eaplatanios commented on #103
@amanda321 I'm glad you figured it out. :)

[2018-05-16 17:27] #103 closed

[2018-05-17 16:13] debasish83 commented on #17
@eaplatanios I have moved to python API and integrate pyspark with tensorflow API. If we can move core logic like gradient calc etc from python to c++ API, that should help scala/java API as well.

[2018-05-17 19:58] eaplatanios commented on #17
True although we already have support for probably all the gradients you’d need in the Scala API.

[2018-05-22 22:08] fredfeng opened #107 "Malformed exception under Ubuntu 16.0.4"
Hi,
I am getting the following exception during the initialization of the library.
It works well on my Mac and the issue only happens under Ubuntu machines.

[error] (run-main-0) java.lang.Exception: Malformed assigned device 'CPU'
[error] Current trace: List()
[error] java.lang.Exception: Malformed assigned device 'CPU'
[error] Current trace: List()
[error] 	at rlSync.SimulationHandle.toRollout(S

[2018-05-24 23:31] GratefulTony opened #108 "MNIST Example does not compile: diverging implicit expansion"
`Error:(28, 50) diverging implicit expansion for type org.platanios.tensorflow.api.implicits.helpers.OutputToTensor.Aux[org.platanios.tensorflow.api.tensorDataHelper.OutputType,org.platanios.tensorflow.api.Tensor]
starting with method productOutputToTensorConstructor in object OutputToTensor
Error occurred in an application involving default arguments.
    val trainImages = tf.data.TensorSlicesDat

[2018-05-24 23:33] GratefulTony commented on #108
Source from example verbatim pasted into a new project does not compile on either 0.1.0 or 0.1.1

Unsure whether I am missing imports?

[2018-05-26 00:41] eaplatanios commented on #107
This has now been fixed. :)

[2018-05-26 00:41] #107 closed

[2018-05-26 00:41] eaplatanios commented on #108
@GratefulTony Please use version 0.2.0-SNAPSHOT. I will update the website accordingly soon.

[2018-05-26 00:41] #108 closed

[2018-06-04 18:51] leonard-IMBERT opened #109 "Too many redirection on the site"
I got an error from google chrome. It tells me `eaplatanios.github.io redirect you too many times.` I don't think it's the expected feature ^^'

I tried on google chrome and firefox and got the same result :/

[2018-06-04 19:21] leonard-IMBERT commented on #109
My bad.
Fun fact: avast was doing shit with my internet connection

[2018-06-04 19:41] leonard-IMBERT commented on #109
After some research, it seems you have wierd redirection that are none ending:
`302 /tensorflow_scala -> /Xadjz/tensorflow_scala`
`302 /Xadjz/tensorflow_scala -> /KKcNz/tensorflow_scala`
`302 /KKcNz/tensorflow_scala -> /tensorflow_scala`
`302 /tensorflow_scala -> /MXQWZ/tensorflow_scala`

[2018-06-05 11:14] leonard-IMBERT commented on #109
Seems good now

[2018-06-05 11:14] #109 closed

[2018-06-05 11:35] mandar2812 opened #110 "Serialisation of tensors whose content is greater than 2GB"
I was training a CNN model(TF GPU) on some image data and it seems the input tensors could not be serialised.

Is there some way around this, because I would like to use data whose size is even larger than 2 GB.

[code]

[2018-06-05 16:12] eaplatanios commented on #109
@leonard-IMBERT Sorry there was some issue due to renewing my domain registration.

[2018-06-05 16:14] eaplatanios commented on #110
@mandar2812 Unfortunately that is a protobuf limitation in TensorFlow. This serialization code is not part of the Scala API. It directly invokes the native serialization code. You could write a custom serialization method for this purpose.

[2018-06-05 17:51] mandar2812 commented on #110
@eaplatanios Interesting! Then this would this be a limitation for someone using the Tensorflow python as well as native API assuming they use the `protobuf` serialiser?

[2018-06-08 02:06] eaplatanios commented on #110
@mandar2812 Yes, that is correct. I think that in both the Scala and the Python API you'd need to use a different serialization method to avoid this issue. I'll close this given that I am using the TensorFlow-provided serialization support.

[2018-06-08 02:06] #110 closed

[2018-06-11 17:10] alexisdurieux opened #111 "Sparse Placeholder default constructor triggers exception"
Maybe, I'm missing something but it seems that the sparsePlaceholder constructor is always triggering the following error:
`An error occurredorg.platanios.tensorflow.api.core.package$exception$InvalidShapeException: Shape '[?]' must have the same rank as shape '[?, ?]'`

I have tried many workarounds, but the initial line triggering the error is:
`val inputs: SparseOutput = tf.sparsePlaceholder(IN

[2018-06-11 17:53] eaplatanios commented on #111
@alexisdurieux Just to make sure I understand correctly, does that error occur when you execute that line, or when you execute `session.run(...)` later on?

[2018-06-11 21:23] alexisdurieux commented on #111
@eaplatanios it happens when I execute the line. Sorry if that's not very clear !

[2018-06-11 22:23] #111 closed

[2018-06-11 22:23] eaplatanios commented on #111
@alexisdurieux I'm sorry that was my bad. The bug should be fixed now. :)

[2018-06-12 07:42] alexisdurieux commented on #111
Thanks for you reactivity !

[2018-06-13 15:58] mandar2812 opened #112 "Problem with TF Eager ops: Add Input"
After switching from tf-scala 0.1.1 to 0.2.0, I have the following native code error occurring, in a non-deterministic manner.

[code]

Seems like there is some problem thrown by the AddInput function, what could be causing this?

My guess is code like

[code]

[2018-06-13 20:59] eaplatanios commented on #112
@mandar2812 Which version of the TensorFlow shared libraries are you using? Could you try using the pre-compiled ones distributed with the Scala artifacts?

[2018-06-14 10:40] mandar2812 commented on #112
@eaplatanios I am using the pre-compiled tf binaries that come with tf-scala. Are there any caches/tmp directories I should clean?

[2018-06-14 12:18] nazarblch opened #113 "Exception in compiled from source application"
2018-06-14 14:54:20.444 [main] INFO  Examples / Linear Regression - Building linear regression model.
Exception in thread "main" java.lang.ExceptionInInitializerError
	at org.platanios.tensorflow.jni.Graph$.<init>(Graph.scala:22)
	at org.platanios.tensorflow.jni.Graph$.<clinit>(Graph.scala)
	at org.platanios.tensorflow.api.core.Graph$.apply(Graph.scala:843)
	at org.platanios.tensorflow.api.core.pa

[2018-06-17 18:06] eaplatanios commented on #113
@nazarblch Could you please try using version 0.2.1. There was an issue that should hopefully have been fixed by now.

[2018-06-17 18:06] eaplatanios commented on #112
@mandar2812  Could you please try using version 0.2.1. There was an issue that should hopefully have been fixed by now.

[2018-06-17 21:42] mandar2812 commented on #112
@eaplatanios I cant seem to find the tf-scala 2.11 artefacts for version 0.2.1. Did you upload them?

[2018-06-20 00:03] mandar2812 commented on #112
So this seems to be an issue caused due to replication/caching of `tensorflow-jni` across branches. Lets close this for now.

[2018-06-20 00:03] #112 closed

[2018-06-20 10:37] mandar2812 opened #114 "[JNI] Error while creating Estimator on linux-cpu/gpu"
So when running the [cifar.sc](https://github.com/transcendent-ai-labs/DynaML/blob/tf-0.2.0/scripts/cifar.sc) script in DynaML branch _tf-0.2.0_, I get the following stack trace.

[code]

## Problematic Code

The problem appears when creating an Estimator in the following manner.

[code]

This problem does **not** happen when I run this script on a Mac. I am using tf-scala 0.2.2.

[2018-06-20 10:41] mandar2812 commented on #114
@eaplatanios So this was seeming like a redux of #112. But its happening at a different part of the code, and not happening on Mac. If you cannot reproduce this on linux-cpu, I'll take a look at my linux setup again.

[2018-06-20 22:38] eaplatanios commented on #114
@mandar2812 This is actually the same error as the one I'm getting on the CI server, but not on my Linux machines. I'll investigate this soon. In the meantime, could you please tell me if things work fine for you if you compile the TF binaries yourself from the r1.9 branch? Thanks! :)

[2018-06-20 22:39] eaplatanios commented on #113
I'll close this. Please move any discussion about issues with the precompiled binaries to #114. Thanks!

[2018-06-20 22:39] #113 closed

[2018-06-20 23:02] mandar2812 commented on #114
@eaplatanios Do you want me to take the latest commit on the  r1.9 branch, or a particular tag/revision/commit?

[2018-06-20 23:32] eaplatanios commented on #114
I think the latest commit in r1.9 works fine for me so that should do it :)

[2018-06-22 03:54] evan-wehi commented on #114
I'm getting what appears to be the same thing. Crash log attached. I might wait to see what @mandar2812 comes up with - for some reason I can never get TF to build, even on a fresh ubuntu.

[hs_err_pid34538.log](https://github.com/eaplatanios/tensorflow_scala/files/2126255/hs_err_pid34538.log)

[2018-06-24 21:38] DirkToewe commented on #113
I'm getting the exact same error on tensorflow_scala 0.2.2 when building Tensorflow myself:

`undefined symbol: _ZN10tensorflow14DataTypeStringENS_8DataTypeE`

Steps to Reproduce:
  1. `git checkout r1.9`
  2. `./configure` with jemalloc, xla, latest llvm
  3. build `libtensorflow_framework.so` and `libtensorflow.so`
  4. Run sbt with a project that loads the shared objects using `System.load`

My

[2018-06-24 21:56] eaplatanios commented on #113
@DirkToewe Could you try compiling with this flag also passed to Bazel `--cxxopt=-D_GLIBCXX_USE_CXX11_ABI=0`?

As for compiling your own `libtensorflow_jni.so`, you can do that if you only depend on `"org.platanios" %% "tensorflow-api" % "0.2.2"` instead of the full combined package. In this case you'd need to compile the JNI package on your own and publish it locally.

However, I think that tryin

[2018-06-25 06:00] DirkToewe commented on #113
`-D_GLIBCXX_USE_CXX11_ABI=0` did do the trick. Thank You!

[2018-06-25 19:36] eaplatanios commented on #114
@mandar2812 @evan-wehi This has now been fixed in version 0.2.3. :)

[2018-06-25 19:36] #114 closed

[2018-06-27 12:53] DirkToewe opened #115 "corrupted size vs. prev_size [libtensorflow.so+0x724284]"
This may likely be an issue of the native libraries, but since it might affect others as well, I'm posting it here. Plus it could maybe be an issue with concurrency?

[code]
This bug can be reliably reproduced on 2 PCs:
  - AMD FX-8150 / GTX1080Ti / Ubuntu 18.04
  - AMD Phenom II X4 940 / GT640 / Ubuntu 16.04

Reading `corrupted size vs. prev_size`, I tried it with:
  - `"0.2.4" classifier "linux-

[2018-06-29 11:03] DirkToewe commented on #115
All I managed to find out is that there's a memory leak and it seems happen during the creation of new Tensors. The following example blows on my puny 32gb machine after run 67:
[code]
Tensors are not added to the computation graph, right?

[2018-06-30 02:42] eaplatanios commented on #115
@DirkToewe I do use a disposing thread in the background to dispose unused resources. It's using phantom references. I wonder if the way in which these implicits interact messes up with the garbage collector somehow and prevents it from collecting the intermediate tensors that are created. I'll try to look into this this weekend.

[2018-06-30 10:06] DirkToewe commented on #115
It could also be that `Disposer` is crashing but I won't be able to check until monday.

[2018-06-30 19:35] DirkToewe opened #117 "Locking Mechanisms (CriticalSection, use_locking=true, ...)"
Accumulating gradients in Variables is a great way of reducing memory overhead. Doing so in parallel greatly speeds up things. It would be great to have access to some more locking mechanisms like [`CriticalSection`](https://www.tensorflow.org/api_docs/python/tf/contrib/framework/CriticalSection) or the `use_locking` parameter for Variable assignment.

[2018-06-30 21:32] eaplatanios commented on #117
I can look into adding support for `CriticalSection`, but `use_locking` should not be necessary because we use resource variables (as opposed to the old-style reference variables that the Python API uses by default), which should be thread-safe by default (i.e., `use_locking` is not even an available option when manipulating them). Other than that, what else do you think you'd need to accumulate g

[2018-07-01 12:08] DirkToewe commented on #117
If `assignAdd` is already thread-safe, I have what I need already! CriticalSection would just be nice to have.

Using `assignAdd`, it's easy enough to build a graph that adds gradients to a variable and do parallel `Session.run` calls on it, assuming, of course, `Session.run()` is thread-safe (it is in the C++ API).

[2018-07-02 00:12] eaplatanios commented on #117
Yes, `assignAdd` should already be thread-safe, as should `Session.run()`. There may be issues related to modifying the graph after creating the session, as I haven't tested that thoroughly, but I personally have not run into any issues. I'll close this for now since there seems to be support for what you need, but I'll keep `CriticalSection` in my TODO list. :)

[2018-07-02 00:12] #117 closed

[2018-07-04 14:15] mandar2812 opened #118 "JNI Error: Tensor Creation from ByteBuffer"
So I'm using the Tensor.fromBuffer method for loading data from a number of images and I get the following JNI error. (Condensed form of the error dump)

[code]

The source of the error is

[code]

In the relevant source code I see the following `TODO` note

[code]

[2018-07-11 16:15] mandar2812 opened #119 "Estimator: infer() method returns empty iterator"
The `Estimator.infer()` method returns a tensor as expected when used in the following way.

[code]

But when used on a `Dataset`

[code]

it returns an empty iterator `Iterator[(Tensor, ModelInferenceOutput)]`, instead of the expected non-empty result.

[2018-07-11 18:30] eaplatanios commented on #119
@mandar2812 That should not be happening. What is the dimensionality of `features` and what does each dimension correspond to?

[2018-07-12 12:21] mandar2812 commented on #119
For example

[code]

This is what I get ...

[code]

### Estimator Source

Looking in `InMemoryEstimator.scala` lines 237 onwards

[code]

Seems the following code block is executed.

[code]

I am getting similar results with `FileBasedEstimator.scala` also, the above is done using tf-scala 0.2.4

[2018-07-18 18:17] eaplatanios commented on #115
@DirkToewe Sorry for the super late followup, but did you end up looking further into this?

[2018-07-18 19:57] DirkToewe commented on #115
Nothing much new to report, I'm afrad. The disposert thread is running all the time. With Scala 2.11 in Jupyter Notebook (jupyter), I just discovered an issue that may be related:

![disposer_issues](https://user-images.githubusercontent.com/8115342/42904297-d8fd945a-8ad4-11e8-8401-8d74168d97a2.png)

Could it be that the JVM enqueues the reference *before* the native code is done with it?

[2018-07-23 19:24] macheeto opened #120 "compilation errors in operations.cc"
There is a bunch of casting errors in horovod/src/main/native/common/operations.cc related to const void* to void* conversion. Example:
Line 1260, MPI_Send((void*)encoded_message.c_str(), (int)encoded_message.length() + 1,
                 MPI_BYTE, RANK_ZERO, TAG_NOTIFY, MPI_COMM_WORLD);

I added the (void*) cast to the first param to fix the error. There are other errors of the same type on othe

[2018-07-28 16:39] DirkToewe opened #122 "ScalaType instead of DataType as type param."
I almost feel bad for asking this, considering how much refactoring is involved, but the answer may have far reaching consequences. So here it comes: I wonder if it might not be better to use the Scala type as type parameter instead of the Tensorflow dtype. In other words: maybe `Tensor[Double]` would be preferable to `Tensor[FLOAT64]`? The dtype would then become something inferred implicitly sim

[2018-07-30 18:53] eaplatanios commented on #115
Thanks for catching that memory leak. Regarding the apply method issue, I think that's a common ambiguity in Scala and may be resolved in Dotty (I'm not 100% sure). I'll look into maybe throwing a more informative error.

[2018-07-30 18:53] #115 closed

[2018-08-13 23:28] git4sun opened #124 "Example in Readme doesn't work with version 0.2.3"
No class in the package is named: DatasetFromSlices, Estimator.train() method is missing, MNISTLoader is in data.image not data.loaders package. Do you have a working tutorial? Or detailed document?

[2018-08-14 04:02] eaplatanios commented on #124
Sorry about the outdated readme. I've been working on some updates. Does the following work for you?

[code]

[2018-08-14 04:24] git4sun commented on #124
No.

1. From the jar file, it doesn't seem to have  `data.loaders._`. I do find `org.platanios.tensorflow.data.image.MNISTLoader`

2. `DatasetFromSlices` is not recognized. I also didn't find the class in the source code. Do I suppose to create a class with that name by myself?

3. `org.platanios.tensorflow.api.ops.training.optimizers.GradientDescent` should be imported. `GradientDescent` is not i

[2018-08-14 05:07] eaplatanios commented on #124
I'm sorry this is indeed very outdated and I can't test right now. Can you try the following:

[code]

[2018-08-14 16:01] git4sun commented on #124
`Cast(FLOAT32)` need a name parameter,  `estimator.train` is not recognized. I checked the val types. It looks like `Model(input, layer, trainInput, trainingInputLayer, loss, optimizer)` and `Estimator(model)` didn't return `Model` and `Estimator` object. The compiler only sees `Any`. Not sure if it is related but I didn't find case class for `Model` and `Estimator` in the source code.

[2018-08-14 18:03] eaplatanios commented on #124
Ok I think that until I get to a computer and can test this, the best solution for you is to look at an example that compiles and runs fine here: [https://github.com/eaplatanios/tensorflow_scala/blob/master/examples/src/main/scala/org/platanios/tensorflow/examples/MNIST.scala](https://github.com/eaplatanios/tensorflow_scala/blob/master/examples/src/main/scala/org/platanios/tensorflow/examples/MNIS

[2018-08-15 01:08] git4sun commented on #124
The example doesn't work as well with version 0.2.4. It complains about `Tensor[DataType]`. I guess your latest changes are not in 0.2.4. I will just wait for you to update the docs then.

[2018-08-15 01:13] eaplatanios commented on #124
Oh yes, I have updated everything to version 0.3.0-SNAPSHOT. Why do you want to use version 0.2.4?

[2018-08-15 16:28] git4sun commented on #124
Because 0.2.4 is the latest version that is on maven. I don't know how to get the 0.3.0-snapshot version from sbt.

[2018-08-15 16:39] git4sun commented on #124
Now everything works with the new version. Thanks for the help.

[2018-08-15 17:27] git4sun commented on #124
I got exception running your example:
[code]

Is it the installation issue? I am using the option of `classifier "darwin-cpu-x86_64" `. Do I need to compile tensorflow and specify the path?

[2018-08-18 10:11] eaplatanios commented on #124
The precompiled binaries that are currently distributed are broken due to an issue in the main TensorFlow repository. I'm waiting for an issue to be resolved there and then I can update ours. For now, you can get rid of this error by compiling TensorFlow yourself, from the master branch and adding the compiled shared libraries to `LD_LIBRARY_PATH`.

[2018-08-18 10:11] eaplatanios commented on #120
I think this is due to the version of GCC you are using. What version are you using?

[2018-08-20 21:17] git4sun commented on #124
I tried to compile tensorflow and the example code throws the following exception:

[code]

I am using IntelliJ and added the path to .so file in vm options like this: `-Djava.library.path="/xxx/tf/bazel-bin/tensorflow"`. Is that the correct way of doing this? It seems the library is not loaded.

[2018-08-20 22:27] eaplatanios commented on #124
No that is not the right way. You would need to add an environment variable in the IntelliJ run configuration that looks like this:

`LD_LIBRARY_PATH="xxx/tf/bazel-bin/tensorflow:$LD_LIBRARY_PATH"`

[2018-08-28 20:54] git4sun commented on #124
Still can't get the example working.
[code]

[2018-08-29 20:59] sbrunk opened #126 "Undefined symbols when compiling native tensorflow_ops"
When trying to compile current master. I'm using the libtensorflow[_framework].so from the 0.3.0-SNAPSHOT releases on MacOS. Do I need a more recent TF build or am I missing something else?

[code]

[2018-09-12 01:08] eaplatanios commented on #126
@sbrunk Sorry for the delay on this but I've been waiting on some stuff from the TensorFlow team. Is this also happening for the Linux releases?

[2018-09-12 01:09] eaplatanios commented on #124
@git4sun I'm finally back from traveling but unfortunately I'm still waiting on an issue from the TensorFlow team. Is this occurring on a Mac or a Linux machine for you?

[2018-09-12 01:32] git4sun commented on #124
I’m on a Mac

On Tue, Sep 11, 2018 at 6:09 PM Anthony Platanios <notifications@github.com>
wrote:

[2018-09-12 19:10] tampler commented on #126
I also encountered similar issue in Ubuntu 16.04. I downloaded the latest TF 1.10.1 *.so files from here: https://www.tensorflow.org/install/install_c
After exporting the LD_LIBRARY_PATH, I checked out this project and did the following:
1. sbt in the prj root
2. When sbt finished the download/compile/build loop, I then
3. Entered  "console" in the sbt shell
4. Tried to declare the tensor from you

[2018-09-15 18:04] eaplatanios commented on #126
Could you try again using the latest `0.3.0-SNAPSHOT` and the precompiled binaries distributed with TF Scala? It currently works using the `master` branch of TensorFlow (i.e., the nightly builds).

[2018-09-15 18:04] eaplatanios commented on #124
Could you try again using the latest `0.3.0-SNAPSHOT` and the precompiled binaries distributed with TF Scala? It currently works using the `master` branch of TensorFlow (i.e., the nightly builds). I finally got what we needed from the TF team. :)

[2018-09-15 18:04] eaplatanios commented on #120
Closing due to inactivity.

[2018-09-15 18:04] #120 closed

[2018-09-15 18:05] eaplatanios commented on #118
Could you try again using the latest `0.3.0-SNAPSHOT` and the precompiled binaries distributed with TF Scala? It currently works using the `master` branch of TensorFlow (i.e., the nightly builds). I finally got what we needed from the TF team. Sorry for the big delay in responding but I've been waiting for that for a while now. :)

[2018-09-15 19:17] eaplatanios commented on #102
I will close this because plans changed significantly and I will soon publish a proposal of a lot for new features I've been working on over the summer that involve compile-time support for TensorFlow, similar to what Swift for TensorFlow does, but (hopefully :)) with much stronger type guarantees.

[2018-09-15 19:17] #102 closed

[2018-09-17 21:16] git4sun commented on #124
The demo example worked with the new updates. Thanks a lot! I can start to
play around.

On Sat, Sep 15, 2018 at 11:04 AM Anthony Platanios <notifications@github.com>
wrote:

[2018-09-17 21:57] eaplatanios commented on #124
No problem. Thanks for verifying! :)

[2018-09-17 21:57] #124 closed

[2018-09-17 23:04] git4sun opened #127 "Is there a document or example for converting Scala collections to Tensor?"
Creating Tensors seems not very easy. I usually use some scala collections to prepare data. But it seems converting from the scala collections to Tensor is not simple as adding .toTensor.

    val data = Source.fromFile("data.txt").getLines.take(100).toList.map(_.split(",")).map(e=>(e(0).toInt, e(1).toInt, e(2).toDouble))
    val indices = data.map(e=>Tensor(e._1, e._2)).toArray.toTensor //this on

[2018-09-18 00:53] eaplatanios commented on #122
@DirkToewe Sorry for the delaying responding to this for so long but this deserves a long response and I didn't want to post something quick while traveling. I have thought about this issue before and there are a few reasons I decided against it originally, even though I debated a lot with myself. I have been working on something that may resolve this and so I'll respond in a few days with days, d

[2018-09-18 04:59] git4sun commented on #127
Using the latest 0.3.0-SNAPSHOT

[2018-09-18 16:43] eaplatanios commented on #127
Regarding the first example, I cannot reproduce the error. For me it compiles and works fine. Could you please tell me what error you get? This is the approach you should use for your example and it should be working.

Regarding the byte buffer example, you get an error because each `FLOAT16` is 2 bytes long and you're trying to load a tensor with shape `[100]` (i.e., 200 bytes) from a byte buffer

[2018-09-18 16:57] git4sun commented on #127
The first error is compile time error:

    Error:(16, 41) value toTensor is not a member of Array[Double]
    val values = data.map(_._3).toArray.toTensor

For the second one, `INT8` does work. But I thought `INT8` and `FLOAT16` are the data type of values in the tensor. I have a double array. How is it represented as int in tensors?

[2018-09-18 17:08] eaplatanios commented on #127
Regarding the first error, did you include `import org.platanios.tensorflow.api._` before that line?

Regarding the second, different data types require different sizes in the underlying tensor. A double array could be represented as a `FLOAT64` tensor which requires 8 bytes per element. If you're interested to know more generally how floating point numbers are often represented take a look at [th

[2018-09-18 17:46] git4sun commented on #127
Oh, I didn't. I imported `import org.platanios.tensorflow.api.tensors._`
instead

On Tue, Sep 18, 2018 at 10:08 AM Anthony Platanios <notifications@github.com>
wrote:

[2018-09-18 17:53] git4sun opened #129 "Does the package have matrix operations?"
Like `factorization_ops.WALSModel` in python version?

[2018-09-18 20:02] eaplatanios commented on #122
@DirkToewe In the meantime, you can track some temporary progress I'm making while trying out stuff in the [`scala_types` branch](https://github.com/eaplatanios/tensorflow_scala/tree/scala_types).

[2018-09-18 20:28] sbrunk commented on #126
Sorry I didn't manage to try it earlier. The error still occurs on macOS using current master 36a9d2bb1e0b5fcddb6a2a4ca30b523c599d2650 and your precompiled TF binaries from Sep 15. I'll try it on Linux tomorrow.

[2018-09-18 23:51] eaplatanios commented on #126
@sbrunk I am unable to reproduce this on a Mac. Did you make sure there are no old `libtensorflow[_framework].so` anywhere in your system that are accidentally being picked up?

[2018-09-19 07:35] sbrunk commented on #126
Yeah seem like it as it works fine on Linux. Sorry for the noise.

[2018-09-19 07:35] #126 closed

[2018-09-19 14:12] eaplatanios commented on #126
@sbrunk No problem at all! Actually this kind of issues is very useful because it's hard for me to test the binaries on multiple machines, and issues related to them appear from time to time. I'm going to release 0.3.0 now that we know this is fine. :)

[2018-09-19 14:13] eaplatanios commented on #129
No I haven't really worked on adding support for those, but it shouldn't be too hard to do that, if you need them for your work. I can help with any issues that may come up.

[2018-09-19 14:15] eaplatanios commented on #119
@mandar2812 Is there any way to test this on 0.3.0-SNAPSHOT. I plan to release 0.3.0 this week and it would be good to know if this still happens. Also, sorry for the late response, but I just got back to work last week.

[2018-09-19 14:16] eaplatanios commented on #99
@lucataglia Sorry for not getting back to you about this. Does it still happen with 0.3.0-SNAPSHOT?

[2018-09-19 15:13] mandar2812 commented on #119
@eaplatanios No problem! So the thing is it will take me some effort to refactor my code to suit the `0.3.0` release of TF-Scala. I assume this has the `Tensor[DataType]` kind of API. I will try to create a separate branch in my code to perform refactoring, but I cant guarantee that I will be able to test this by this week.

[2018-09-21 13:55] lucataglia commented on #99
@eaplatanios Hi Anthony, I'll let you know as soon as I can since I'm working on another project in these weeks. By the way I keep you update.

[2018-09-22 07:01] sujitbiswas opened #130 "tensorrt support"
Are you planning to add tensorrt support ?
https://developers.googleblog.com/2018/03/tensorrt-integration-with-tensorflow.html

[2018-10-01 17:55] git4sun commented on #129
Hi @eaplatanios, Would you please let me know if you have the plan to incorporate these ops? Thanks.

[2018-10-02 17:12] eaplatanios commented on #122
I'll close this as I've made significant progress in this direction in #131. Please comment there if you have feedback and thanks for suggesting this because I debated a long time whether it's worth the effort and your post made me finally go for it. :)

[2018-10-02 17:12] #122 closed

[2018-10-02 17:13] eaplatanios commented on #129
@git4sun I've been working on some major design changes in #131. I'll soon finish that and then make a guide that shows have you can add support for the functionality you need.

[2018-10-02 17:13] eaplatanios commented on #130
@sujitbiswas I wasn't, but it does not seem hard to do, so I could if there's interest.

[2018-10-03 02:45] sujitbiswas commented on #130
@eaplatanios,  thanks that will be great, look forward

[2018-10-10 12:37] JoeWells96 opened #132 "Cant find version 0.3.0-SNAPSHOT"
I saw in https://github.com/eaplatanios/tensorflow_scala/issues/124 you reccomended to use `0.3.0-SNAPSHOT` over `0.2.4` however my sbt is failing to find that version and i can't see it on mvnrepo https://mvnrepository.com/artifact/org.platanios/tensorflow-api. Please advise, thank you

[2018-10-10 19:20] eaplatanios commented on #132
@JoeWells96 That is because for snapshot versions you need to use the snapshots repository. In SBT this is done using this, for example:
[code]
However, I just released a full `0.3.0` and so can you check if you can use `0.3.0` directly? That is, without the `-SNAPSHOT` part.

[2018-10-11 12:06] eaplatanios commented on #132
No problem!:) Does it not find `0.3.0` or is it throwing an error when using it?

[2018-10-14 02:12] eaplatanios commented on #132
@JoeWells96 There was an issue with the `0.3.0` release that should have been fixed now so I'm closing this. Please re-open if the issue persists.

[2018-10-14 02:12] #132 closed

[2018-10-14 02:13] eaplatanios commented on #119
@mandar2812 FYI `0.3.0` is out and also `0.4.0-SNAPSHOT` is published which is a much major change. You can see the changes in PR #131 . :)

[2018-10-14 07:55] eaplatanios commented on #122
@DirkToewe #131 has finally been merged and it addresses both this suggestion that you made, as well as more broadly revamps typing of tensors in the TF Scala API. :)

[2018-10-14 16:11] eaplatanios commented on #119
@mandar2812 I'm sorry this took so long but I finally got the time to look into this and found the issue. It has now been fixed on the master branch.

[2018-10-14 16:11] #119 closed

[2018-10-14 16:13] eaplatanios commented on #102
@sbrunk The parameter lists like `[IT, IO, IDA, ID, IS, I, TT, TO, TDA, TD, TS, T]` have now been simplified dramatically with #131. [This](https://github.com/eaplatanios/tensorflow_scala/blob/master/modules/api/src/main/scala/org/platanios/tensorflow/api/learn/Model.scala) is a good example. :)

[2018-10-17 13:55] mandar2812 opened #133 "Error while training Estimators on CIFAR"
So after updating DynaML code base to be compatible with tf-0.3.0, see branch [tf-0.3.0](https://github.com/transcendent-ai-labs/DynaML/tree/tf-0.3.0), the [cifar.sc](https://github.com/transcendent-ai-labs/DynaML/blob/tf-0.3.0/scripts/cifar.sc) example throws errors.

[code]

[2018-10-17 14:12] mandar2812 commented on #133
One thing I notice is this

[code]

I see that calling `.toTensor` method on a `Shape` object returns a `INT64` tensor by default, is this causing the problem maybe?

[2018-10-17 18:08] eaplatanios commented on #133
@mandar2812 Yes the default shape data type is not `INT64` and that is because of an awkward kind of hack within the TensorFlow main codebase. I'll post a couple links to relevant GitHub issues I filed a while ago, once I get to the office.

Regarding the error you're getting. Would it be too difficult to update to `0.4.0-SNAPSHOT`? I made some major updates and now auto-differentiation is also ty

[2018-10-18 15:36] mandar2812 opened #134 "Need `apply[T](T*)` method in Tensor.scala v0.4.0-SNAPSHOT"
Currently the `Tensor` object has the following methods

[code]

Its weird that there is no simple apply method.

[code]

[2018-10-18 15:44] mandar2812 commented on #134
I see that the `0.4.0-SNAPSHOT` has not been updated since 14 October, can you update it please @eaplatanios

[2018-10-18 16:06] eaplatanios commented on #134
@mandar2812 This `apply` should not be needed if you do `import org.platanios.tensorflow.api._` because it is handled through implicit conversions of the form `implicit def fromSupportedType[T: TF](value: T): Tensor[T]`. Does that not work for you?

Also, with respect to `0.4.0-SNAPSHOT` yes I have only updated it for Scala 2.12 because I'm trying to fix an issue. I hope this will be resolved by e

[2018-10-18 16:12] mandar2812 commented on #134
@eaplatanios I see, unfortunately the scala compiler complains about this. So in my source file I import the following

[code]

and the following kind of code throws problems.

[code]

[2018-10-18 16:14] eaplatanios commented on #134
Could you change it to?

[code]

[2018-10-18 17:51] eaplatanios commented on #134
@mandar2812 Thanks for verifying it works! :) And yeah the IntelliJ presentation compiler does fail sometimes.

[2018-10-19 14:04] mandar2812 commented on #134
@eaplatanios Sorry for the wrong verification, but I was making a lot of changes to DynaML to make it compatible with tf-0.4.0, and now after all my refactors, I see the following errors.

[code]

[code]

[2018-10-19 14:07] mandar2812 commented on #134
@eaplatanios Its also a bit weird that I have to explicitly specify the type for `t` before reshaping it.

[2018-10-19 18:08] mandar2812 commented on #134
@eaplatanios  But the following works!

[code]

testing it in the DynaML REPL

[code]

[2018-10-20 08:54] #134 closed

[2018-10-25 05:02] eaplatanios commented on #133
@mandar2812 Please disregard my previous comment. I think I'll be defaulting to `INT32` for shape to tensor conversions, but will update you on a couple of days.

[2018-10-25 05:03] eaplatanios commented on #133
The relevant TF issue is [here](https://github.com/tensorflow/tensorflow/issues/21693).

[2018-10-25 16:56] eaplatanios commented on #133
@mandar2812 I settled on defaulting to `INT32` for shapes as that is what the TF Python API does and also because switching to `INT32` results in a 7-fold performance increase for [my MT library](https://github.com/eaplatanios/symphony-mt), when working on GPUs. :)

So, I'll close this for now and feel free to reopen if the issue persists for you for some reason. I'll be pushing a full `0.4.0` rel

[2018-10-25 16:56] #133 closed

[2018-10-25 17:09] mandar2812 commented on #133
@eaplatanios I'm eagerly waiting for the `0.4.0` release, DynaML branch `tf-0.4.0` is tracking the last tf-scala snapshot. I am able to compile my code (the part of it which depends on tf-scala). Only problem I am noticing is that resolution of implicits is a bigger challenge in the typed Output and Tensor API, especially when it comes to declaring estimators! I saw some of your recent commits wer

[2018-10-25 17:14] eaplatanios commented on #133
@mandar2812 Thanks a lot! It's great to hear you've been updating to support 0.4.0. :) And yes, there was an issue with resolution of implicits. It's been resolved for Scala 2.12, but I'm having issues with 2.11. Shapeless' `Lazy`/`Strict` seems to not be working correctly on 2.11 and so I'll try to resolve this by getting some help from the shapeless community, as I feel it shouldn't be a problem

[2018-11-05 08:02] Spiess opened #137 "Undefined symbol in libtensorflow_ops.so for gpu versions 0.3.0 and 0.4.0"
When using any TensorFlow features on TensorFlow Scala GPU versions 0.3.0 and 0.4.0 I encounter the following error:

[code]

This only happens when using the GPU version of 0.3.0 and 0.4.0. All CPU versions as well as the GPU version of 0.2.4 are working fine. The newest Python GPU TensorFlow is also running without problems.

I am using x86_64 linux with CUDA 9.0 and NVIDIA driver version 410.73

[2018-11-06 12:33] eaplatanios commented on #137
@Spiess This is unfortunately due to an issue with the official nightly precompiled binaries distributed by Google. There’s been an ongoing discussion to standardize the process for publishing them and so the issue should be fixed soon in 0.4.1. I’m currently traveling and can not provide a better temporary solution, but for now you could try compiling TF from source, from commit 4b46a399d7a5a5c9c

[2018-11-10 22:31] git4sun opened #138 "No implicits found for parameter evOutputToDataType"
Just trying 0.4.0. Looks like there are some changes. The old `MNISTLoader` example doesn't work now. It is asking for the implicits. I found a package could have the implicits called `import org.platanios.tensorflow.api.implicits.Implicits._` but it is not accessible from outside the package.  How to properly import the implicits? Thanks.

[2018-11-10 23:38] eaplatanios commented on #138
Are you using Scala 2.11 or 2.12?

[2018-11-11 04:32] git4sun commented on #138
2.12

[2018-11-12 15:37] eaplatanios commented on #138
Could you please send me the code sample that reproduces the compile-time error? I don't get any errors when running the MNIST example. Also, could you try using `0.4.1-SNAPSHOT`?

[2018-11-12 15:55] git4sun commented on #138
Here's the code:

    import org.platanios.tensorflow.api._
    import org.platanios.tensorflow.api.tf.learn._
    import org.platanios.tensorflow.data.image.MNISTLoader
    // Load and batch data using pre-fetching.
    val dataSet = MNISTLoader.load(Paths.get("/tmp"))
    val trainImages = tf.data.datasetFromTensorSlices(dataSet.trainImages)
    val trainLabels = tf.data.datasetFromTensorSlices(

[2018-11-12 15:56] git4sun commented on #138
updating to 0.4.1-SNAPSHOT doesn't change anything

[2018-11-13 03:16] eaplatanios commented on #138
These implicits in the example that you found should only be needed for Scala 2.11. If you copy the example from [here](https://github.com/eaplatanios/tensorflow_scala/blob/master/modules/examples/src/main/scala/org/platanios/tensorflow/examples/MNIST.scala) that should work even if you remove these helper implicits.

Note that there is a `.toFloat` and also a `.toLong` in the change I sent you. D

[2018-11-19 10:03] sbrunk opened #140 "ops.Files not exported"
The ops under [Files](https://github.com/eaplatanios/tensorflow_scala/blob/master/modules/api/src/main/scala/org/platanios/tensorflow/api/ops/Files.scala) like `readFile` and `writeFile`  don't seem to be exported anywhere or am I missing something?

I think it used to be exported under ops.io before some refactoring.

[2018-11-19 15:54] eaplatanios commented on #140
Good catch! I must have accidentally removed it. I added it back and it will be included in the next release. :)

[2018-11-19 15:54] #140 closed

[2018-11-19 16:08] sbrunk commented on #140
Thanks :)

[2018-11-22 08:01] eaplatanios commented on #137
This should have been fixed in the latest release (0.4.2) and so I'll close this for now. Please feel free to reopen if the issue persists. Note that currently, only Scala 2.12 binaries have been released (and not 2.11), due to some issues with implicit derivation in Scala 2.11.

[2018-11-22 08:01] #137 closed

[2018-12-03 12:50] Spiess opened #141 "The "evaluate" method of InMemoryEstimator gets stuck indefinitely"
When I try to run the `evaluate` method of the `InMemoryEvaluator` it does not return, even after several minutes. This is also the case for very small evaluation datasets and specified numbers of steps.

[2018-12-13 08:37] eaplatanios commented on #141
Sorry I was caught up with a paper deadline. I would need a code sample that reproduces the error, but one possible reason may be that you include `Dataset.repeat()` in your input data pipeline to the `evaluate` method and so the dataset keeps repeating forever. Could you check if that is the issue? If not, could you post a minimal code sample that reproduces the error?

[2018-12-13 18:53] Spiess commented on #141
Here's a code sample which produces the problem for me:

[code]

I have tested this on macOS and Linux.

[2018-12-13 19:04] Spiess opened #142 "UnsupportedOperationException when trying to save Tensor with writeNPY"
When I try to save a tensor using the `writeNPY` function, it always throws an UnsupportedOperationException.

For example, the following code causes the problem for me:
[code]

[2018-12-16 15:45] doofin opened #143 "Is higher order ops like fold and map_fn implemented?"

[2018-12-16 19:44] eaplatanios commented on #141
The problem is that when you use the `InMemoryEstimator`, instead of the `FileBasedEstimator`, all evaluation metrics that will be used need to be provided in the estimator constructor as follows:

[code]

I'm sorry for not documenting this properly, or making it more explicit in the API. I can see how it can create confusion and will try to change it such that it's more explicit.

Also note the `

[2018-12-16 19:44] #141 closed

[2018-12-16 19:45] eaplatanios commented on #141
Please let me know if the issue persists and I'll reopen it.

[2018-12-17 00:50] #142 closed

[2018-12-17 00:51] eaplatanios commented on #142
This is fixed and will be soon published as an updated `0.4.2-SNAPSHOT`. Thanks for catching this bug! :)

[2018-12-17 00:54] eaplatanios commented on #143
Yes, for some. TF Scala already supports TensorFlow functions and they are used for some higher order ops, such as `Dataset.map` and `Dataset.filter`. There is no support for `fold` and `mapFn` currently, but it can be easily added since all building blocks are there. If there is strong interest and good use cases, I can add support very soon.

[2018-12-17 00:54] eaplatanios commented on #99
Closing due to inactivity. Will re-open if the issue persists.

[2018-12-17 00:54] #99 closed

[2018-12-17 11:21] Spiess opened #144 "Tensor data not read correctly from NPY files"
When I create a NPY tensor file from Python and read it from Scala TensorFlow, the shape of the resulting Tensor is correct, but the content is all zeros.

For example, writing from Python:
[code]

Reading from Scala TensorFlow:
[code]

Output:
[code]

The output from Scala TensorFlow is the same when saving the Python tensor with `allow_pickle=False`. The tensor can be read without any problems f

[2018-12-17 11:47] doofin commented on #143
It seems that  Dataset.map and Dataset.filter do not operate on Tensors ? The closest I found is whileLoop which can used to implement those HOFs. These higher order functions are important because there are important for so called "differential programming" which is the underlying theory of supervised learning,and with them we can easily combines , for example, LSTM and CNN with CTC together just

[2018-12-17 17:57] eaplatanios commented on #144
What happens when you save a tensor from TF Scala and try to read it in Numpy? I only tested writing using TF Scala and reading back into TF Scala.

[2018-12-19 18:51] eaplatanios commented on #144
@Spiess I actually just tried your example and it worked fine for me with Python 3.7. Are you sure you pulled TF Scala `master` and not using an earlier version. I haven't released the snapshot binaries yet so you should try the example using the code from the master branch.

[2018-12-19 18:58] eaplatanios commented on #143
Yes, the dataset ops operate on datasets over nested structures of tensors, but you can use `whileLoop` to implement HOFs like the ones you describe. In fact, that's how I was going to implement them, so if you're up for it, I'd be very happy to welcome your contribution and help you with any questions you may have. :) And thank you...I'm actually very happy to hear that you're finding this librar

[2018-12-19 21:56] Spiess commented on #144
Ah, sorry, I was using TF Scala 0.4.1 and Python 2.7, so it's entirely possible it works on master.

[2018-12-19 23:58] eaplatanios commented on #144
No problem. In that case, and since I can't reproduce this anymore on master, I'll close this. Feel free to reopen if the issue persists. :)

[2019-01-03 06:43] davidmweber commented on #144
I can confirm that npy files are not being correctly read in 0.4.2-SNAPSHOT either. Attached is
[iris_x.npy.gz](https://github.com/eaplatanios/tensorflow_scala/files/2722879/iris_x.npy.gz) which reads correctly into Python 3.6 but not into TF Scala 0.4.1 or 0.4.2-SNAPSHOT. These data are the features from the Iris problem set.

I load the (uncompressed) npy file and inspect it as follows:
[code]
T

[2019-01-05 14:12] eaplatanios commented on #144
@davidmweber thanks for testing this and digging a bit into it! I’ll try to resolve it once I’m back from traveling in about 3-4 days and so for now I’ll simply reopen the issue. :)

[2019-01-06 16:09] davidmweber commented on #144
I have some code that I can repurpose to test ByteBuffer -> tensor and npy -> tensor implementations.  the npy -> tensor needs some pre-stored file somewhere but I think it will be a useful test case

[2019-01-14 22:11] SrTobi opened #145 "No TensorBoard at https://localhost:6006"
I tried to assemble the example from the readme and got it to compile. But I couldn't go to https://localhost:6006 because there was no server listening there.

I then tried the code from the MNIST example and that worked as well but still  does not open a server on 6006... Is there something I need to do additionally? Some external software?

Here is the code I use:

[code]

[2019-01-15 09:18] mandar2812 commented on #145
@SrTobi, when you run this code snippet, tensorflow-scala should print some logs on the screen which will confirm if Tensorboard started as expected or failed. Often a failure happens because the program `tensorboard` (package `tensorflow`) is not installed on your system python/virtual environment.

[2019-01-15 09:42] SrTobi commented on #145
I don't see any error message there... even after I installed the package `tensorboard`.
I can run `tensorboard --logdir temp` and that starts the tensorboard server... but tensorflow scala does not...

This is the log (if the temp directory doesn't exist):

[code]

Also, when I start the program if `temp` exist I get the following exception:

[code]

Interestingly the line ` Incompatible shapes:

[2019-01-21 09:14] Spiess opened #146 "Custom OP not working correctly with TensorFlow Scala"
I am using the `rasterize_triangles_kernel.so` operation from https://github.com/google/tf_mesh_renderer (commit a6403fbb36a71443ecb822e435e5724550d2b52b) in one of my projects.

Running it in Python works without problems:
[code]

To get it to even load and register correctly in TensorFlow Scala, I have had to compile it using the TensorFlow nightly build and add the following shape function:
[co

[2019-01-21 10:02] Spiess commented on #146
I forgot to mention: I have observed this issue for precompiled TensorFlow Scala 0.4.1 and current TensorFlow Scala compiled with TensorFlow r1.12.

[2019-01-21 13:56] Spiess commented on #146
I was able to fix the issue by compiling the custom operation using `tf-nightly-gpu==1.13.0.dev20181121`.

Is there any way to tell with which version/nightly a given TensorFlow Scala release has been compiled? Because I had to guess that nightly from the release date.

[2019-01-21 13:56] #146 closed

[2019-01-23 14:17] Spiess opened #147 "Gradients.gradients can't handle unused null gradients"
I am using a custom operation with three result outputs. When I use `Gradients.gradients` to obtain the gradient with respect to the first of these outputs, the program crashes with a NullPointerException as the initial gradient for one of the other two outputs is null.

The gradient for this output is never used by my custom `GradientFn`, but since the change from `GradientRegistry` to `GradientF

[2019-01-30 15:16] eaplatanios commented on #129
@cosmir17 regarding your second question, TensorFlow tensors are immutable and thus you cannot replace the value at a specific coordinate. You should use `tf.Variable` if you want to change it's values, but you should also probably consider restructuring your code so that you don't have to (sometimes this is possible).

[2019-01-30 15:18] eaplatanios commented on #144
@davidmweber This would indeed be a useful test case. Could you share that using a PR so I use it to debug this issue? Thanks!

[2019-01-30 15:36] cosmir17 commented on #129
@eaplatanios, I thought so. Therefore, I asked 'how would I create a copy of...'? Would you be able to help me with the following transportation, please?
[code]
I would like to do something like, **matrix(0, something) = assignment** <= python code

I really appreciate your kindness. Would you mind if I ask another question, please? How can I translate the following code into Scala?
[code]

Thank

[2019-01-31 14:58] xtordoir opened #148 "Cannot create a Saver from MetaGraphDef"
Hi, I am trying to load a checkpoint from `ssd_mobilenet_v2_coco` (https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/detection_model_zoo.md). Am I missing something here or there is some incompatibility between the checkpoint and the library to investigate?

version 0.4.1

[code]

[code]

[2019-01-31 21:50] cosmir17 commented on #129
@eaplatanios, for the first part, I did the following,
[code]
Hope this will work :)

I am still trying to transport the following
`current_state = np.asmatrix(np.hstack((a[i:i+number], b, c))) //python code`

[2019-02-01 13:57] xtordoir commented on #148
There are some operations with ` is_ref: true` in these metaGraphDef, I bet these are where issue rise. It looks like the REF tensors are supported in the python API, and they are commented as not to be used in the protobuf file:

https://github.com/tensorflow/tensorflow/blob/aa9a1127a894f66eaffe3ee60191a39ffa6cc66d/tensorflow/core/framework/types.proto#L42

Continuing to look into it, but any sug

[2019-02-01 16:19] eaplatanios commented on #148
@xtordoir Yes, that is the problem. Unfortunately in TensorFlow there are two ways to represent variables: reference variables and resource variables. In the TF Python API 1.xx, reference variables are the default (you can use resource variables by setting the `use_resource` argument to `True` when creating them). Resource variables were developed later and are supposed to replace reference variab

[2019-02-01 20:19] xtordoir commented on #148
Thank you!

The meta file is binary, not text

There is no need to go on the path to support references variables in the TF Scala. And short term, I can always convert the model with a python script until there is a solution to read these meta files from Scala.
I am investigating also working with models saved using the tensorflow hub library. I'll keep you posted on progress there as well.

[2019-02-03 13:01] xtordoir commented on #148
Yes, thanks @sbrunk,  it works with frozen graphs. I try to get a broader view of where the snake bites me, so as to have guidelines on how to save models and training sessions with TF scala compatibility.

[2019-02-04 10:48] cosmir17 opened #149 "Math.argmax throwing null pointer exception for my setting."
Hi,

I am using Math.argmax and it seems throwing null pointer exception for my setting.
[code]
I got the following error:
java.lang.NullPointerException: null
	at org.platanios.tensorflow.api.tensors.ops.Math.argmax(Math.scala:1295)
	at org.platanios.tensorflow.api.tensors.ops.Math.argmax$(Math.scala:1289)
	at org.platanios.tensorflow.api.tensors.ops.Math$.argmax(Math.scala:2102)
	at org.platanio

[2019-02-04 11:02] cosmir17 commented on #149
I looked at the argmax source code..

[code]

is it because axes.nativeHandle?
I presume, it may attempt to do, null.nativehandle . .. hence the error

[2019-02-04 13:02] DirkToewe commented on #149
I believe this is more of an error in the documentation than in the implementation, compare [Python Docs](https://www.tensorflow.org/api_docs/python/tf/math/argmax). ArgMax along multiple axes would be somewhat confusing as You would have to return a Tensor of shape `[...reducesShape, nAxes]` instead of `[...reducesShape]`.

[PR#123](https://github.com/eaplatanios/tensorflow_scala/pull/123/commits

[2019-02-04 13:12] cosmir17 commented on #149
@DirkToewe I thought so. 'axes.nativeHandle' looks like not being able to handle 'null'. It seems contrary to the documentation. I think it was a technical debt.

By the way, my 'argmax' function was numpy's. I was trying to do a similar thing to the red circled practice.
https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.argmax.html
<img width="426" alt="screenshot 2019-02-04 at 13

[2019-02-04 13:38] eaplatanios commented on #149
@cosmir17 @DirkToewe One question is whether we want to have that behavior or whether it is counterintuitive. Also, it can always be achieved with a reshape to flatten followed by an argmax, which in my opinion has better semantics. What do you think?

[2019-02-04 13:40] eaplatanios commented on #148
@sbrunk Thanks for the suggestion! @xtordoir putting together some rough guidelines would be great. I haven't really used prebuilt models in Python and I'm not aware of the most common issues.

I'll close this issue now since it's resolved. Feel free to reopen if there are still problems.

[2019-02-04 13:40] #148 closed

[2019-02-04 13:41] eaplatanios commented on #145
@SrTobi I'll investigate the TensorBoard issue. Regarding the incompatible shapes, I see that you're trying to restore the model parameters from `/home/tobi/workspace/tensorflow-test/temp/mnist-mlp/model.ckpt-1000`. In this case, you need to make sure that the model saved in that checkpoint is the same as the one you're currently building and trying to load in your code.

[2019-02-04 13:42] eaplatanios commented on #147
@Spiess Thanks a lot for catching this! I'll push a fix and include it in the next release. :)

[2019-02-04 13:43] cosmir17 commented on #149
@eaplatanios @DirkToewe, I am happy to do the following as DirkToewe demonstrated
val indexNext = myMatrix.reshape(Shape(-1)).argmax(0).scalar.toInt

Nonetheless, either the doc or the implementation can be changed in future PR.

[2019-02-04 14:02] DirkToewe commented on #149
I couldn't agree more. My vote would be leaving the implementation as is if only for the reason that people coming from Tensorflow4Python have an easier time to adapt.

One thing that might be useful in general is a `Tensor::flat` function. `tensor.flat.argmax(0)` would be more concise an more readable and it might be useful in many other situations as well.

If there is more people like me who ne